# original

https://www.kaggle.com/yuanxuan/titanic-random-forest-82-78/notebook

# special

- almost all are one hot encoding
- many features

# score

cv score for all training set is not so high. 0.8383838383838383
it is below my current best score 2018/04/01.


# columns

Index(['Survived', 'Age', 'Fare', 'Name_Len', 'Age_Null_Flag',
       'Cabin_num_(1.999, 28.667]', 'Cabin_num_(28.667, 65.667]',
       'Cabin_num_(65.667, 148.0]', 'Ticket_Len', 'Pclass_3', 'Pclass_1',
       'Pclass_2', 'Sex_male', 'Sex_female', 'Embarked_S', 'Embarked_C',
       'Embarked_Q', 'Ticket_Lett_A', 'Ticket_Lett_P', 'Ticket_Lett_S',
       'Ticket_Lett_1', 'Ticket_Lett_3', 'Ticket_Lett_2', 'Ticket_Lett_C',
       'Ticket_Lett_Low_ticket', 'Ticket_Lett_Other_ticket', 'Cabin_Letter_n',
       'Cabin_Letter_C', 'Cabin_Letter_E', 'Cabin_Letter_G', 'Cabin_Letter_D',
       'Cabin_Letter_A', 'Cabin_Letter_B', 'Cabin_Letter_F', 'Name_Title_Mr.',
       'Name_Title_Mrs.', 'Name_Title_Miss.', 'Name_Title_Master.',
       'Name_Title_Rev.', 'Name_Title_Dr.', 'Name_Title_Ms.',
       'Name_Title_Col.', 'Fam_Size_Nuclear', 'Fam_Size_Solo', 'Fam_Size_Big'],
      dtype='object')

# else

	variable	importance
12	Sex_female	0.111215
11	Sex_male	0.109769
33	Name_Title_Mr.	0.109746
1	Fare	0.088209
2	Name_Len	0.087904
0	Age	0.078651
8	Pclass_3	0.043268
35	Name_Title_Miss.	0.031292
7	Ticket_Len	0.031079
34	Name_Title_Mrs.	0.028852
25	Cabin_Letter_n	0.027893
43	Fam_Size_Big	0.025199
41	Fam_Size_Nuclear	0.022704
9	Pclass_1	0.021810
19	Ticket_Lett_1	0.017999
20	Ticket_Lett_3	0.012902
10	Pclass_2	0.012345
36	Name_Title_Master.	0.012098
23	Ticket_Lett_Low_ticket	0.011723
13	Embarked_S	0.011546

In [1]:
import time

# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# train, test, validate
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.metrics import confusion_matrix

# models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier

import xgboost as xgb
from xgboost.sklearn import XGBClassifier


# scaling
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer

# decomposition
from sklearn.decomposition import PCA
from sklearn.decomposition import NMF

# feature engineering
from sklearn.preprocessing import PolynomialFeatures

# feature selection
from sklearn.feature_selection import SelectPercentile
from sklearn.feature_selection import SelectFromModel
from sklearn.feature_selection import RFE

In [2]:
# Utility function to report best scores
def report(results, n_top=3):
    """Utility function to report best scores
    """
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Rank: {0}".format(i))
            print("Score: {0:f} (std: {1:f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Pars: {0}".format(results['params'][candidate]))
            print("")
            

def report2(results, n_top=3):
    """Utility function to report best scores
    """
    print("Rank|Score(std)|Params", list(results['params'][0].keys()))
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("{0}|".format(i), end="")
            print("{0:f}(std:{1:f})|".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]), end="")
            print("{0}".format(list(results['params'][candidate].values())))

In [3]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

def names(train, test):
    for i in [train, test]:
        i['Name_Len'] = i['Name'].apply(lambda x: len(x))
        i['Name_Title'] = i['Name'].apply(lambda x: x.split(',')[1]).apply(lambda x: x.split()[0])
        del i['Name']
    return train, test

def age_impute(train, test):
    for i in [train, test]:
        i['Age_Null_Flag'] = i['Age'].apply(lambda x: 1 if pd.isnull(x) else 0)
        data = train.groupby(['Name_Title', 'Pclass'])['Age']
        i['Age'] = data.transform(lambda x: x.fillna(x.mean()))
    return train, test


def fam_size(train, test):
    for i in [train, test]:
        i['Fam_Size'] = np.where((i['SibSp']+i['Parch']) == 0 , 'Solo',
                           np.where((i['SibSp']+i['Parch']) <= 3,'Nuclear', 'Big'))
        del i['SibSp']
        del i['Parch']
    return train, test


def ticket_grouped(train, test):
    for i in [train, test]:
        i['Ticket_Lett'] = i['Ticket'].apply(lambda x: str(x)[0])
        i['Ticket_Lett'] = i['Ticket_Lett'].apply(lambda x: str(x))
        i['Ticket_Lett'] = np.where((i['Ticket_Lett']).isin(['1', '2', '3', 'S', 'P', 'C', 'A']), i['Ticket_Lett'],
                                   np.where((i['Ticket_Lett']).isin(['W', '4', '7', '6', 'L', '5', '8']),
                                            'Low_ticket', 'Other_ticket'))
        i['Ticket_Len'] = i['Ticket'].apply(lambda x: len(x))
        del i['Ticket']
    return train, test


def cabin(train, test):
    for i in [train, test]:
        i['Cabin_Letter'] = i['Cabin'].apply(lambda x: str(x)[0])
        del i['Cabin']
    return train, test

def cabin_num(train, test):
    for i in [train, test]:
        i['Cabin_num1'] = i['Cabin'].apply(lambda x: str(x).split(' ')[-1][1:])
        i['Cabin_num1'].replace('an', np.NaN, inplace = True)
        i['Cabin_num1'] = i['Cabin_num1'].apply(lambda x: int(x) if not pd.isnull(x) and x != '' else np.NaN)
        i['Cabin_num'] = pd.qcut(train['Cabin_num1'],3)
    train = pd.concat((train, pd.get_dummies(train['Cabin_num'], prefix = 'Cabin_num')), axis = 1)
    test = pd.concat((test, pd.get_dummies(test['Cabin_num'], prefix = 'Cabin_num')), axis = 1)
    del train['Cabin_num']
    del test['Cabin_num']
    del train['Cabin_num1']
    del test['Cabin_num1']
    return train, test


def embarked_impute(train, test):
    for i in [train, test]:
        i['Embarked'] = i['Embarked'].fillna('S')
    return train, test

def dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett', 'Cabin_Letter', 'Name_Title', 'Fam_Size']):
    for column in columns:
        train[column] = train[column].apply(lambda x: str(x))
        test[column] = test[column].apply(lambda x: str(x))
        good_cols = [column+'_'+i for i in train[column].unique() if i in test[column].unique()]
        train = pd.concat((train, pd.get_dummies(train[column], prefix = column)[good_cols]), axis = 1)
        test = pd.concat((test, pd.get_dummies(test[column], prefix = column)[good_cols]), axis = 1)
        del train[column]
        del test[column]
    return train, test

def drop(train, test, bye = ['PassengerId']):
    for i in [train, test]:
        for z in bye:
            del i[z]
    return train, test


train = pd.read_csv(os.path.join('../input', 'train.csv'))
test = pd.read_csv(os.path.join('../input', 'test.csv'))
train, test = names(train, test)
train, test = age_impute(train, test)
train, test = cabin_num(train, test)
train, test = cabin(train, test)
train, test = embarked_impute(train, test)
train, test = fam_size(train, test)
test['Fare'].fillna(train['Fare'].mean(), inplace = True)
train, test = ticket_grouped(train, test)
train, test = dummies(train, test, columns = ['Pclass', 'Sex', 'Embarked', 'Ticket_Lett',
                                                                     'Cabin_Letter', 'Name_Title', 'Fam_Size'])
train, test = drop(train, test)

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(max_features='auto', oob_score=True, random_state=1, n_jobs=3)

param_grid = { "criterion" : ["gini", "entropy"], 
              "min_samples_leaf" : [1, 5, 10], 
              "min_samples_split" : [2, 4, 10, 12, 16],
              "n_estimators": [50, 100, 400, 700, 1000]}

gs = GridSearchCV(estimator=rf, param_grid=param_grid, scoring='accuracy', 
                  cv=3, n_jobs=6, verbose=1)

gs = gs.fit(train.iloc[:, 1:], train.iloc[:, 0])

print(gs.best_score_)
print(gs.best_params_)
print(gs.cv_results_)

Fitting 3 folds for each of 150 candidates, totalling 450 fits

[Parallel(n_jobs=6)]: Done  38 tasks      | elapsed:    7.1s
[Parallel(n_jobs=6)]: Done 188 tasks      | elapsed:   35.0s
[Parallel(n_jobs=6)]: Done 438 tasks      | elapsed:  1.4min
[Parallel(n_jobs=6)]: Done 450 out of 450 | elapsed:  1.4min finished

0.8383838383838383
{'criterion': 'gini', 'min_samples_leaf': 1, 'min_samples_split': 10, 'n_estimators': 700}
{'mean_fit_time': array([0.15842684, 0.20610189, 0.77891509, 1.3159349 , 1.81066648,
       0.15871294, 0.21484613, 0.73826059, 1.30018926, 1.84731388,
       0.16110396, 0.21298226, 0.74133595, 1.26565758, 1.74319816,
       0.15601206, 0.20452531, 0.71357481, 1.2697436 , 1.79620226,
       0.16151484, 0.20147006, 0.73195982, 1.28742313, 1.71358395,
       0.15810053, 0.21529174, 0.70337979, 1.25526365, 1.74323511,
       0.17875409, 0.20810652, 0.77733835, 1.246116  , 1.71341729,
       0.16111787, 0.21901266, 0.74701532, 1.20088951, 1.68733319,
       0.16582712, 0.21258068, 0.74446193, 1.3210837 , 1.65187192,
       0.16184139, 0.21935638, 0.68294748, 1.18026821, 1.67313457,
       0.16449817, 0.2005802 , 0.72505887, 1.20647383, 1.70750117,
       0.16628273, 0.21318165, 0.78740104, 1.23061347, 1.77697086,
       0.16222143, 0.2145226 , 0.75279522, 1.28087473, 1.66462541,
       0.15975952, 0.20786293, 0.7450459 , 1.24511218, 1.71308104,
       0.16273109, 0.21668061, 0.74466761, 1.31496946, 1.71599905,
       0.1573081 , 0.21282371, 0.7774531 , 1.53156908, 2.14235202,
       0.16803471, 0.21623842, 0.83755342, 1.43276445, 2.00449721,
       0.15868298, 0.23461612, 0.85091925, 1.35571957, 1.82672397,
       0.17162514, 0.2148126 , 0.77161058, 1.30692267, 1.81080858,
       0.15645377, 0.20074511, 0.74289966, 1.42375414, 1.74854851,
       0.16654634, 0.21431406, 0.72719328, 1.33922839, 1.88707272,
       0.16665308, 0.20580967, 0.75142368, 1.33895175, 1.76392396,
       0.15866772, 0.21509171, 0.77502624, 1.22754208, 1.81343587,
       0.15612499, 0.21038016, 0.73967512, 1.27573935, 1.82796248,
       0.16658401, 0.20950452, 0.75393677, 1.26171501, 1.76030087,
       0.15346305, 0.21554399, 0.70827325, 1.22239375, 1.64393854,
       0.16956989, 0.20020501, 0.65292279, 1.19061136, 1.65965398,
       0.15406537, 0.20684393, 0.74965882, 1.20632052, 1.5916787 ,
       0.16578341, 0.20938007, 0.7984457 , 1.23605863, 1.67508133,
       0.15432866, 0.21217442, 0.73763967, 1.24139603, 1.68607593]), 'std_fit_time': array([0.01247273, 0.00710478, 0.12682929, 0.10393116, 0.07740821,
       0.01386731, 0.00476293, 0.01350543, 0.11440316, 0.07323119,
       0.00337225, 0.01924824, 0.06120653, 0.05212391, 0.0372338 ,
       0.00057157, 0.01164736, 0.02430485, 0.06388365, 0.08157359,
       0.00380567, 0.00426218, 0.01569656, 0.00893706, 0.03167985,
       0.00347869, 0.00914792, 0.02092485, 0.13016829, 0.04720212,
       0.0165306 , 0.02670112, 0.01752153, 0.02321051, 0.06478311,
       0.01620391, 0.00639991, 0.04258145, 0.06605826, 0.03035931,
       0.01595115, 0.01272701, 0.05876452, 0.08232074, 0.11015335,
       0.00363424, 0.01021987, 0.01505602, 0.12536741, 0.05968449,
       0.00237365, 0.01428734, 0.02042384, 0.04368053, 0.05760926,
       0.01016786, 0.01108252, 0.02229596, 0.06605929, 0.10447909,
       0.00531236, 0.00174077, 0.0198117 , 0.04024861, 0.04005655,
       0.00309896, 0.01407694, 0.04213997, 0.02394279, 0.06361547,
       0.00224293, 0.0059134 , 0.04967498, 0.00981019, 0.07202678,
       0.00660175, 0.01577854, 0.03015354, 0.07497889, 0.04344057,
       0.01266256, 0.00174142, 0.01517956, 0.07939293, 0.03043403,
       0.00365604, 0.02708695, 0.02871318, 0.10422233, 0.09225936,
       0.01223804, 0.00147583, 0.00734938, 0.12014318, 0.07029673,
       0.00792969, 0.00258421, 0.06773786, 0.07687893, 0.09279126,
       0.00740969, 0.00598727, 0.03906458, 0.01601948, 0.07802614,
       0.00467417, 0.00460845, 0.02075543, 0.07119696, 0.02307167,
       0.00966375, 0.0074599 , 0.00239219, 0.05311552, 0.13698138,
       0.00821858, 0.02328844, 0.04944318, 0.01130923, 0.02326553,
       0.01395891, 0.00826559, 0.0399785 , 0.0604889 , 0.09267216,
       0.0110993 , 0.00544772, 0.04347078, 0.05250082, 0.05889327,
       0.01207914, 0.00367719, 0.03537778, 0.03240694, 0.05308145,
       0.00176118, 0.00740635, 0.02956326, 0.02768108, 0.07449768,
       0.01147333, 0.00235897, 0.02102556, 0.0520764 , 0.07264118,
       0.00920919, 0.00412767, 0.00703996, 0.02990283, 0.03345948]), 'mean_score_time': array([0.10162926, 0.10209878, 0.12328251, 0.20250328, 0.2226212 ,
       0.10920636, 0.1083622 , 0.10152078, 0.20748146, 0.20171777,
       0.10269054, 0.10579205, 0.11579831, 0.21648097, 0.20406787,
       0.1030678 , 0.10228467, 0.10287015, 0.20925045, 0.20481078,
       0.10157839, 0.11923639, 0.10155423, 0.20802728, 0.20232058,
       0.1047612 , 0.10255965, 0.10214742, 0.21176219, 0.20481769,
       0.10162226, 0.10159381, 0.10777235, 0.20589018, 0.20485489,
       0.10860801, 0.10589242, 0.10195613, 0.20303869, 0.20466145,
       0.11101937, 0.10262632, 0.11073319, 0.21269902, 0.20277238,
       0.1014967 , 0.1134781 , 0.115309  , 0.20788296, 0.20301215,
       0.10961946, 0.10150353, 0.10280689, 0.20646556, 0.20222759,
       0.10297434, 0.10288692, 0.1215117 , 0.21218594, 0.20206745,
       0.11264261, 0.10688686, 0.10417747, 0.22139239, 0.20416864,
       0.1016051 , 0.10252062, 0.10619617, 0.21049205, 0.21327631,
       0.11054913, 0.10746829, 0.11688264, 0.20803515, 0.20185677,
       0.10164237, 0.10239498, 0.10850072, 0.21183896, 0.20752652,
       0.10728526, 0.10721596, 0.10521483, 0.21049905, 0.20203463,
       0.10381897, 0.10433904, 0.12698197, 0.21487538, 0.20658207,
       0.10163649, 0.12005504, 0.1043543 , 0.21842567, 0.20790291,
       0.1016655 , 0.10195978, 0.11999424, 0.2069815 , 0.20658517,
       0.10265565, 0.10723265, 0.10363309, 0.21761552, 0.20157099,
       0.10699892, 0.10768938, 0.10691818, 0.21803689, 0.20433728,
       0.1036075 , 0.10176555, 0.11974883, 0.20349995, 0.20264268,
       0.11192648, 0.10476661, 0.11715619, 0.22091158, 0.20286338,
       0.10408632, 0.10519544, 0.115803  , 0.21693285, 0.21049198,
       0.10313884, 0.10178693, 0.10800568, 0.20811049, 0.20631242,
       0.10703421, 0.10158324, 0.10696864, 0.20990761, 0.20253555,
       0.10154136, 0.10376604, 0.10579324, 0.21451592, 0.21151455,
       0.10153262, 0.10719856, 0.10830323, 0.21573774, 0.20796998,
       0.10766172, 0.10601719, 0.10628239, 0.20196827, 0.23525246]), 'std_score_time': array([2.06463423e-04, 2.70024757e-04, 1.62068797e-02, 1.10385830e-03,
       2.08988750e-02, 1.11388160e-02, 9.57236741e-03, 1.23337321e-04,
       7.93188526e-03, 4.47255010e-05, 1.54037096e-03, 5.80947568e-03,
       1.01754584e-02, 1.51876866e-02, 3.16542431e-03, 8.36135789e-04,
       9.93608048e-04, 1.80806477e-03, 7.12187260e-03, 4.21722902e-03,
       3.20371254e-05, 1.30827784e-02, 9.05690088e-05, 3.93110716e-03,
       5.96197618e-04, 4.71605527e-03, 1.50825101e-03, 9.41872978e-04,
       1.16347837e-02, 4.66984853e-03, 7.33540092e-05, 1.59512582e-04,
       6.72553668e-04, 4.63672437e-03, 4.53459780e-03, 1.01279315e-02,
       6.16890236e-03, 3.62786441e-04, 1.73420795e-03, 3.39637395e-03,
       1.26261958e-02, 1.05152537e-03, 7.48384004e-03, 1.26463882e-02,
       1.34002994e-03, 9.94753248e-05, 5.81009851e-03, 1.26661000e-02,
       8.28825593e-03, 1.90244036e-03, 1.03291721e-02, 1.86893437e-04,
       1.14917508e-03, 1.43698679e-03, 4.09933044e-04, 1.82686997e-03,
       8.58107451e-04, 1.87014184e-02, 1.13850619e-02, 4.38927086e-04,
       8.01157553e-03, 4.84380835e-03, 2.02848127e-03, 9.93353908e-03,
       2.76028126e-03, 2.11313148e-04, 6.12579947e-04, 5.86583357e-03,
       1.03969940e-02, 8.88776055e-03, 4.69231403e-03, 8.36114401e-03,
       7.70332988e-03, 8.49023480e-03, 3.72255439e-04, 1.15175177e-04,
       1.14451206e-03, 5.93105151e-03, 4.26743885e-03, 4.42874939e-03,
       4.25382479e-03, 4.83733433e-03, 3.81601973e-03, 1.18122551e-02,
       2.03634436e-04, 3.16643373e-03, 2.99147903e-03, 1.81053842e-02,
       8.95410247e-03, 6.45436939e-03, 1.19652929e-04, 1.82724855e-02,
       3.21142784e-03, 9.63880081e-03, 4.25739159e-03, 3.08343778e-04,
       5.70878782e-04, 2.29963860e-02, 7.47518782e-03, 5.96023180e-03,
       1.60124478e-03, 7.85103621e-03, 3.15748123e-03, 1.38952413e-02,
       9.31829362e-05, 5.46115871e-03, 2.18325745e-03, 7.49042804e-03,
       1.32193880e-02, 1.96957007e-03, 2.77325459e-03, 5.60662984e-04,
       9.40509217e-03, 1.54741478e-03, 1.56337999e-03, 9.95874171e-03,
       2.60421201e-03, 1.05142194e-02, 2.59980810e-02, 1.59178376e-03,
       3.40733107e-03, 5.10913884e-03, 6.33545278e-03, 1.98805537e-02,
       1.23286791e-02, 2.19768582e-03, 5.52033025e-04, 5.31113616e-03,
       5.48579996e-03, 4.24008943e-03, 4.02525189e-03, 3.17033962e-05,
       6.88610968e-03, 9.67343119e-03, 1.01813479e-03, 6.50121996e-05,
       1.88335946e-03, 6.16781511e-03, 8.52296136e-03, 8.67280330e-03,
       4.51488387e-05, 6.21784000e-03, 6.04427239e-03, 1.00005539e-02,
       4.41205953e-03, 8.55774090e-03, 4.95334922e-03, 5.76084284e-03,
       1.92245850e-04, 4.73023650e-02]), 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                   'gini', 'gini', 'gini', 'gini', 'gini', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                   'entropy', 'entropy', 'entropy', 'entropy'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_samples_leaf': masked_array(data=[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
                   1, 1, 1, 1, 1, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
                   5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 10, 10, 10,
                   10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
                   10, 10, 10, 10, 10, 10, 10, 10, 1, 1, 1, 1, 1, 1, 1, 1,
                   1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5,
                   5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
                   5, 5, 5, 5, 5, 5, 10, 10, 10, 10, 10, 10, 10, 10, 10,
                   10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
                   10, 10],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_samples_split': masked_array(data=[2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 10, 10, 10, 10, 10, 12,
                   12, 12, 12, 12, 16, 16, 16, 16, 16, 2, 2, 2, 2, 2, 4,
                   4, 4, 4, 4, 10, 10, 10, 10, 10, 12, 12, 12, 12, 12, 16,
                   16, 16, 16, 16, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 10, 10,
                   10, 10, 10, 12, 12, 12, 12, 12, 16, 16, 16, 16, 16, 2,
                   2, 2, 2, 2, 4, 4, 4, 4, 4, 10, 10, 10, 10, 10, 12, 12,
                   12, 12, 12, 16, 16, 16, 16, 16, 2, 2, 2, 2, 2, 4, 4, 4,
                   4, 4, 10, 10, 10, 10, 10, 12, 12, 12, 12, 12, 16, 16,
                   16, 16, 16, 2, 2, 2, 2, 2, 4, 4, 4, 4, 4, 10, 10, 10,
                   10, 10, 12, 12, 12, 12, 12, 16, 16, 16, 16, 16],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_estimators': masked_array(data=[50, 100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50,
                   100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100,
                   400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100, 400,
                   700, 1000, 50, 100, 400, 700, 1000, 50, 100, 400, 700,
                   1000, 50, 100, 400, 700, 1000, 50, 100, 400, 700, 1000,
                   50, 100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50,
                   100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100,
                   400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100, 400,
                   700, 1000, 50, 100, 400, 700, 1000, 50, 100, 400, 700,
                   1000, 50, 100, 400, 700, 1000, 50, 100, 400, 700, 1000,
                   50, 100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50,
                   100, 400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100,
                   400, 700, 1000, 50, 100, 400, 700, 1000, 50, 100, 400,
                   700, 1000, 50, 100, 400, 700, 1000],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False, False, False,
                   False, False, False, False, False, False],
       fill_value='?',

In [9]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(criterion='gini', 
                             n_estimators=700,
                             min_samples_split=10,
                             min_samples_leaf=1,
                             max_features='auto',
                             oob_score=True,
                             random_state=1,
                             n_jobs=-1)
rf.fit(train.iloc[:, 1:], train.iloc[:, 0])
print("%.4f" % rf.oob_score_)

0.8294

----

In [10]:
print("best parameters:", gs.best_params_)
print("Mean cross-validated score of the best_estimator: ", gs.best_score_)
print("")
report2(gs.cv_results_, n_top=10)

best parameters: {'criterion': 'gini', 'min_samples_leaf': 1, 'min_samples_split': 10, 'n_estimators': 700}
Mean cross-validated score of the best_estimator:  0.8383838383838383

Rank|Score(std)|Params ['criterion', 'min_samples_leaf', 'min_samples_split', 'n_estimators']
1|0.838384(std:0.018027)|['gini', 1, 10, 700]
1|0.838384(std:0.016495)|['gini', 1, 10, 1000]
1|0.838384(std:0.009912)|['entropy', 1, 4, 400]
1|0.838384(std:0.009912)|['entropy', 1, 12, 50]
5|0.837262(std:0.013561)|['gini', 1, 4, 50]
5|0.837262(std:0.004199)|['gini', 1, 4, 100]
5|0.837262(std:0.011111)|['gini', 1, 4, 700]
5|0.837262(std:0.016798)|['entropy', 1, 12, 1000]
9|0.836139(std:0.011446)|['gini', 1, 4, 400]
9|0.836139(std:0.009655)|['gini', 1, 4, 1000]
9|0.836139(std:0.022050)|['entropy', 1, 4, 100]
9|0.836139(std:0.009655)|['entropy', 1, 4, 700]
9|0.836139(std:0.019888)|['entropy', 1, 16, 100]

In [10]:
train.columns

Index(['Age', 'Cabin', 'Embarked', 'Fare', 'Name', 'Parch', 'PassengerId',
       'Pclass', 'Sex', 'SibSp', 'Survived', 'Ticket', 'surname', 'Title',
       'TitleCat', 'FamilySize', 'NameLength', 'female', 'male', 'CabinCat',
       'CabinType', 'person', 'child', 'female_adult', 'male_adult',
       'Ticket_Members', 'Ticket_perishing_women', 'Ticket_surviving_men',
       'Ticket_Id', 'Surname_Members', 'Surname_perishing_women',
       'Surname_surviving_men', 'Surname_Id'],
      dtype='object')

In [14]:
pd.concat((pd.DataFrame(train.columns, columns = ['variable']), 
           pd.DataFrame(gs.best_estimator_.feature_importances_, columns = ['importance'])), 
          axis = 1).sort_values(by='importance', ascending = False)

                      variable  importance
12                    Sex_male    0.111215
11                    Pclass_2    0.109769
33              Cabin_Letter_F    0.109746
1                          Age    0.088209
2                         Fare    0.087904
0                     Survived    0.078651
8                   Ticket_Len    0.043268
35             Name_Title_Mrs.    0.031292
7    Cabin_num_(65.667, 148.0]    0.031079
34              Name_Title_Mr.    0.028852
25    Ticket_Lett_Other_ticket    0.027893
43               Fam_Size_Solo    0.025199
41             Name_Title_Col.    0.022704
9                     Pclass_3    0.021810
19               Ticket_Lett_S    0.017999
20               Ticket_Lett_1    0.012902
10                    Pclass_1    0.012345
36            Name_Title_Miss.    0.012098
23               Ticket_Lett_C    0.011723
13                  Sex_female    0.011546
42            Fam_Size_Nuclear    0.010619
4                Age_Null_Flag    0.009380
14                  Embarked_S    0.008760
3                     Name_Len    0.008420
27              Cabin_Letter_C    0.007851
21               Ticket_Lett_3    0.007336
15                  Embarked_C    0.005978
18               Ticket_Lett_P    0.005167
5    Cabin_num_(1.999, 28.667]    0.005064
29              Cabin_Letter_G    0.004613
26              Cabin_Letter_n    0.003985
6   Cabin_num_(28.667, 65.667]    0.003982
17               Ticket_Lett_A    0.003618
22               Ticket_Lett_2    0.003242
16                  Embarked_Q    0.003158
31              Cabin_Letter_A    0.003157
37          Name_Title_Master.    0.002610
30              Cabin_Letter_D    0.001813
38             Name_Title_Rev.    0.001495
32              Cabin_Letter_B    0.001348
28              Cabin_Letter_E    0.001016
24      Ticket_Lett_Low_ticket    0.000569
40              Name_Title_Ms.    0.000430
39              Name_Title_Dr.    0.000184
44                Fam_Size_Big         NaN

In [18]:
# get passenger id
_test = pd.read_csv(os.path.join('../input', 'test.csv'))

y_pred = gs.best_estimator_.predict(test).astype(int)

submission = pd.DataFrame({
        "PassengerId": _test["PassengerId"].astype(int),
        "Survived": y_pred
    })
submission.to_csv('../output/_titanic-random-forest-82-78.csv', index=False)

----
----
----
----

# original

https://www.kaggle.com/konstantinmasich/titanic-0-82-0-83/

# special

- cv 10
- less features
- not using columns = [train_df, test_df]
  - data_df = train_df.append(test_df)
  - train_df['Age'] = data_df['Age'][:891]
- **make a Title feature for imputing ages**
  - titles = ['Dr', 'Master', 'Miss', 'Mr', 'Mrs', 'Rev']
    - Replacing rare titles with more common ones
      - mapping = {'Mlle': 'Miss', 'Major': 'Mr', 'Col': 'Mr', 'Sir': 'Mr', 'Don': 'Mr', 'Mme': 'Miss','Jonkheer': 'Mr', 'Lady': 'Mrs', 'Capt': 'Mr', 'Countess': 'Mrs', 'Ms': 'Miss', 'Dona': 'Mrs'}
- **Adding Family_Survival**
- 



# score

- best score of 10 cv score: **0.879492358564**
- submit score: 0.83253

# columns

	Survived	Pclass	Sex	Family_Size	Family_Survival
    
# else

In [12]:
# NumPy
import numpy as np

# Dataframe operations
import pandas as pd

# Data visualization
import seaborn as sns
import matplotlib.pyplot as plt

# Scalers
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.utils import shuffle

# Models
from sklearn.linear_model import LogisticRegression #logistic regression
from sklearn.linear_model import Perceptron
from sklearn import svm #support vector Machine
from sklearn.ensemble import RandomForestClassifier #Random Forest
from sklearn.neighbors import KNeighborsClassifier #KNN
from sklearn.naive_bayes import GaussianNB #Naive bayes
from sklearn.tree import DecisionTreeClassifier #Decision Tree
from sklearn.model_selection import train_test_split #training and testing data split
from sklearn import metrics #accuracy measure
from sklearn.metrics import confusion_matrix #for confusion matrix
from sklearn.ensemble import VotingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neural_network import MLPClassifier

# Cross-validation
from sklearn.model_selection import KFold #for K-fold cross validation
from sklearn.model_selection import cross_val_score #score evaluation
from sklearn.model_selection import cross_val_predict #prediction
from sklearn.model_selection import cross_validate

# GridSearchCV
from sklearn.model_selection import GridSearchCV

#Common Model Algorithms
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, discriminant_analysis, gaussian_process

#Common Model Helpers
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection
from sklearn import model_selection
from sklearn import metrics

#Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from pandas.tools.plotting import scatter_matrix

## understanding Family_Survival feature

In [38]:
train_df = pd.read_csv("../input/train.csv")
test_df = pd.read_csv("../input/test.csv")
data_df = train_df.append(test_df) # The entire data: train + test.

data_df['Last_Name'] = data_df['Name'].apply(lambda x: str.split(x, ",")[0])
data_df['Fare'].fillna(data_df['Fare'].mean(), inplace=True)

DEFAULT_SURVIVAL_VALUE = 0.5
data_df['Family_Survival'] = DEFAULT_SURVIVAL_VALUE

279
746
392

57
345

308
874

855
307

210
784

297
305
498
306

214
320

13
119
541
542
610
813
850

518
190

49
353

25
182
233
261
154
174
379

700
202

85
206

448
469
644
858

362
702

118
299

543
546

183
618
178
326

248
871

291
484

140
852
80

188
657

670
684
175

728
275

471
534
37
310

78
323
7

163
500

501
388

578
366

679
343

208
313

83
403

249
854

390
435
763
802

741
96

92
14

724
809

594
119

580
241

73
115

252
272

426
328

514
663

237
637
801

835
179
181

646
56
334

348
489
49

160
125

540
745

1
234

423
616
201

671
92

147
187

565
9

549
330

347
58

93
788
32
354

320
285

690
781

445
293
374

98
651

544
239

416
194
247

866
220

90
172

352
532
337

53
277

86
147
436
736
167

27
88
341
438
53
69

334
660

587
397

3
137

405
401

368
402

861
370

453
849

165
328
548

59
71
386
480
678
683
139
140

268
332

97
350

104
392

451
490

142
403

247
755

623
704

860
309

370
364

720
848

52
645

219
570

62
230

314
440
535

820
308

615
754
353
385

120
655
665

329
523

479
4

774
52

236
248

35
383

13
213

224
486

729
18

217
600

31
319

640
771

302
597

8
172
869

783
888
33
244

569
318

113
402

99
316

691
40

303
16

300
573

457
245

85
249

214
121

621
44

69
376

184
165
394

153
263

312
149

692
826

43
608
685
296

176
229
409
485
132

46
273

605
359

853
391

253
617

432
30

817
827
361

748
182

301
330
127

743
383

272
446

34
375

245
412
411

751
823

109
768

65
709
225

241
612
200

381
622
333

9
122

148
193
340

215
393
659

39
125

315
261

186
364

459
380

281
396

404
725
280

54
26

7
24
374
567
389

50
164
266
638
686
824

159
281
409

151
336

307
505

128
533
417

101
877

186
302

269
303

506
530
203

476
726

16
171
278
787
885
55

407
437
831

538
382

132
25

254
424
284

513
20

311
742
24
64
142

159
180
201
324
792
846
863
188
342
360
365

48
29
297

10
394
117

434
577

63
167
360
634
642
819

50
395

12
287

319
196
242

31
316

100
177

81
114

205
251

262
558
585

669
712

550
581
698

116
133

803
104

431
639

255
161
283

41
117

419
595
799

18
38
333
145

278
362

366
236

161
120

133
101

750
89
262

58
450
472
250

102
124

318
856
217

377
218
407

371
232

155
23

620
830

111
240

136
171

559
260

361
15

153
192
344

In [15]:
data_df[["Name", "Last_Name"]].head()

                                                Name  Last_Name
0                            Braund, Mr. Owen Harris     Braund
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    Cumings
2                             Heikkinen, Miss. Laina  Heikkinen
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)   Futrelle
4                           Allen, Mr. William Henry      Allen

In [32]:
groupbyData = data_df[['Survived','Name', 'Last_Name', 'Fare', 'Ticket', 'PassengerId',
         'SibSp', 'Parch', 'Age', 'Cabin']].groupby(['Last_Name', 'Fare'])
for i in groupbyData:
    print(type(i))
    print(len(i))
    print(i[0])
    print(type(i[1]))
    print(i[1])
    break

<class 'tuple'>
2
('Abbing', 7.55)
<class 'pandas.core.frame.DataFrame'>
     Survived                 Name Last_Name  Fare     Ticket  PassengerId  \
845       0.0  Abbing, Mr. Anthony    Abbing  7.55  C.A. 5547          846

     SibSp  Parch   Age Cabin
845      0      0  42.0   NaN

In [39]:

for grp, grp_df in data_df[['Survived','Name', 'Last_Name', 'Fare', 'Ticket', 'PassengerId',
                           'SibSp', 'Parch', 'Age', 'Cabin']].groupby(['Last_Name', 'Fare']):
    
    if (len(grp_df) != 1):
        # A Family group is found.
        for ind, row in grp_df.iterrows():
            print(ind)
        print()

279
746
392

57
345

308
874

855
307

210
784

297
305
498
306

214
320

13
119
541
542
610
813
850

518
190

49
353

25
182
233
261
154
174
379

700
202

85
206

448
469
644
858

362
702

118
299

543
546

183
618
178
326

248
871

291
484

140
852
80

188
657

670
684
175

728
275

471
534
37
310

78
323
7

163
500

501
388

578
366

679
343

208
313

83
403

249
854

390
435
763
802

741
96

92
14

724
809

594
119

580
241

73
115

252
272

426
328

514
663

237
637
801

835
179
181

646
56
334

348
489
49

160
125

540
745

1
234

423
616
201

671
92

147
187

565
9

549
330

347
58

93
788
32
354

320
285

690
781

445
293
374

98
651

544
239

416
194
247

866
220

90
172

352
532
337

53
277

86
147
436
736
167

27
88
341
438
53
69

334
660

587
397

3
137

405
401

368
402

861
370

453
849

165
328
548

59
71
386
480
678
683
139
140

268
332

97
350

104
392

451
490

142
403

247
755

623
704

860
309

370
364

720
848

52
645

219
570

62
230

314
440
535

820
308

615
754
353
385

120
655
665

329
523

479
4

774
52

236
248

35
383

13
213

224
486

729
18

217
600

31
319

640
771

302
597

8
172
869

783
888
33
244

569
318

113
402

99
316

691
40

303
16

300
573

457
245

85
249

214
121

621
44

69
376

184
165
394

153
263

312
149

692
826

43
608
685
296

176
229
409
485
132

46
273

605
359

853
391

253
617

432
30

817
827
361

748
182

301
330
127

743
383

272
446

34
375

245
412
411

751
823

109
768

65
709
225

241
612
200

381
622
333

9
122

148
193
340

215
393
659

39
125

315
261

186
364

459
380

281
396

404
725
280

54
26

7
24
374
567
389

50
164
266
638
686
824

159
281
409

151
336

307
505

128
533
417

101
877

186
302

269
303

506
530
203

476
726

16
171
278
787
885
55

407
437
831

538
382

132
25

254
424
284

513
20

311
742
24
64
142

159
180
201
324
792
846
863
188
342
360
365

48
29
297

10
394
117

434
577

63
167
360
634
642
819

50
395

12
287

319
196
242

31
316

100
177

81
114

205
251

262
558
585

669
712

550
581
698

116
133

803
104

431
639

255
161
283

41
117

419
595
799

18
38
333
145

278
362

366
236

161
120

133
101

750
89
262

58
450
472
250

102
124

318
856
217

377
218
407

371
232

155
23

620
830

111
240

136
171

559
260

361
15

153
192
344

In [45]:

for grp, grp_df in data_df[['Survived','Name', 'Last_Name', 'Fare', 'Ticket', 'PassengerId',
                           'SibSp', 'Parch', 'Age', 'Cabin']].groupby(['Last_Name', 'Fare']):
    
    if (len(grp_df) != 1):
        # A Family group is found.
        #print(grp_df["Survived"])
        
        for ind, row in grp_df.iterrows():
            smax = grp_df.drop(ind)['Survived'].max()
            smin = grp_df.drop(ind)['Survived'].min()
            print(ind)
            print(grp_df.drop(ind)['Survived'])
            print(smax, smin)
            
            
        print()

279
746    0.0
392    NaN
Name: Survived, dtype: float64
0.0 0.0
746
279    1.0
392    NaN
Name: Survived, dtype: float64
1.0 1.0
392
279    1.0
746    0.0
Name: Survived, dtype: float64
1.0 0.0

57
345   NaN
Name: Survived, dtype: float64
nan nan
345
57   NaN
Name: Survived, dtype: float64
nan nan

308
874    1.0
Name: Survived, dtype: float64
1.0 1.0
874
308    0.0
Name: Survived, dtype: float64
0.0 0.0

855
307   NaN
Name: Survived, dtype: float64
nan nan
307
855    1.0
Name: Survived, dtype: float64
1.0 1.0

210
784    0.0
Name: Survived, dtype: float64
0.0 0.0
784
210    0.0
Name: Survived, dtype: float64
0.0 0.0

297
305    1.0
498    0.0
306    NaN
Name: Survived, dtype: float64
1.0 0.0
305
297    0.0
498    0.0
306    NaN
Name: Survived, dtype: float64
0.0 0.0
498
297    0.0
305    1.0
306    NaN
Name: Survived, dtype: float64
1.0 0.0
306
297    0.0
305    1.0
498    0.0
Name: Survived, dtype: float64
1.0 0.0

214
320   NaN
Name: Survived, dtype: float64
nan nan
320
214   NaN
Name: Survived, dtype: float64
nan nan

13
119    0.0
541    0.0
542    0.0
610    0.0
813    0.0
850    0.0
Name: Survived, dtype: float64
0.0 0.0
119
13     0.0
541    0.0
542    0.0
610    0.0
813    0.0
850    0.0
Name: Survived, dtype: float64
0.0 0.0
541
13     0.0
119    0.0
542    0.0
610    0.0
813    0.0
850    0.0
Name: Survived, dtype: float64
0.0 0.0
542
13     0.0
119    0.0
541    0.0
610    0.0
813    0.0
850    0.0
Name: Survived, dtype: float64
0.0 0.0
610
13     0.0
119    0.0
541    0.0
542    0.0
813    0.0
850    0.0
Name: Survived, dtype: float64
0.0 0.0
813
13     0.0
119    0.0
541    0.0
542    0.0
610    0.0
850    0.0
Name: Survived, dtype: float64
0.0 0.0
850
13     0.0
119    0.0
541    0.0
542    0.0
610    0.0
813    0.0
Name: Survived, dtype: float64
0.0 0.0

518
190   NaN
Name: Survived, dtype: float64
nan nan
190
518    1.0
Name: Survived, dtype: float64
1.0 1.0

49
353    0.0
Name: Survived, dtype: float64
0.0 0.0
353
49    0.0
Name: Survived, dtype: float64
0.0 0.0

25
182    0.0
233    1.0
261    1.0
154    NaN
174    NaN
379    NaN
Name: Survived, dtype: float64
1.0 0.0
182
25     1.0
233    1.0
261    1.0
154    NaN
174    NaN
379    NaN
Name: Survived, dtype: float64
1.0 1.0
233
25     1.0
182    0.0
261    1.0
154    NaN
174    NaN
379    NaN
Name: Survived, dtype: float64
1.0 0.0
261
25     1.0
182    0.0
233    1.0
154    NaN
174    NaN
379    NaN
Name: Survived, dtype: float64
1.0 0.0
154
25     1.0
182    0.0
233    1.0
261    1.0
174    NaN
379    NaN
Name: Survived, dtype: float64
1.0 0.0
174
25     1.0
182    0.0
233    1.0
261    1.0
154    NaN
379    NaN
Name: Survived, dtype: float64
1.0 0.0
379
25     1.0
182    0.0
233    1.0
261    1.0
154    NaN
174    NaN
Name: Survived, dtype: float64
1.0 0.0

700
202   NaN
Name: Survived, dtype: float64
nan nan
202
700    1.0
Name: Survived, dtype: float64
1.0 1.0

85
206    0.0
Name: Survived, dtype: float64
0.0 0.0
206
85    1.0
Name: Survived, dtype: float64
1.0 1.0

448
469    1.0
644    1.0
858    1.0
Name: Survived, dtype: float64
1.0 1.0
469
448    1.0
644    1.0
858    1.0
Name: Survived, dtype: float64
1.0 1.0
644
448    1.0
469    1.0
858    1.0
Name: Survived, dtype: float64
1.0 1.0
858
448    1.0
469    1.0
644    1.0
Name: Survived, dtype: float64
1.0 1.0

362
702    0.0
Name: Survived, dtype: float64
0.0 0.0
702
362    0.0
Name: Survived, dtype: float64
0.0 0.0

118
299    1.0
Name: Survived, dtype: float64
1.0 1.0
299
118    0.0
Name: Survived, dtype: float64
0.0 0.0

543
546    1.0
Name: Survived, dtype: float64
1.0 1.0
546
543    1.0
Name: Survived, dtype: float64
1.0 1.0

183
618    1.0
178    NaN
326    NaN
Name: Survived, dtype: float64
1.0 1.0
618
183    1.0
178    NaN
326    NaN
Name: Survived, dtype: float64
1.0 1.0
178
183    1.0
618    1.0
326    NaN
Name: Survived, dtype: float64
1.0 1.0
326
183    1.0
618    1.0
178    NaN
Name: Survived, dtype: float64
1.0 1.0

248
871    1.0
Name: Survived, dtype: float64
1.0 1.0
871
248    1.0
Name: Survived, dtype: float64
1.0 1.0

291
484    1.0
Name: Survived, dtype: float64
1.0 1.0
484
291    1.0
Name: Survived, dtype: float64
1.0 1.0

140
852    0.0
80     NaN
Name: Survived, dtype: float64
0.0 0.0
852
140    0.0
80     NaN
Name: Survived, dtype: float64
0.0 0.0
80
140    0.0
852    0.0
Name: Survived, dtype: float64
0.0 0.0

188
657    0.0
Name: Survived, dtype: float64
0.0 0.0
657
188    0.0
Name: Survived, dtype: float64
0.0 0.0

670
684    0.0
175    NaN
Name: Survived, dtype: float64
0.0 0.0
684
670    1.0
175    NaN
Name: Survived, dtype: float64
1.0 1.0
175
670    1.0
684    0.0
Name: Survived, dtype: float64
1.0 0.0

728
275   NaN
Name: Survived, dtype: float64
nan nan
275
728    0.0
Name: Survived, dtype: float64
0.0 0.0

471
534    0.0
37     NaN
310    NaN
Name: Survived, dtype: float64
0.0 0.0
534
471    0.0
37     NaN
310    NaN
Name: Survived, dtype: float64
0.0 0.0
37
471    0.0
534    0.0
310    NaN
Name: Survived, dtype: float64
0.0 0.0
310
471    0.0
534    0.0
37     NaN
Name: Survived, dtype: float64
0.0 0.0

78
323    1.0
7      NaN
Name: Survived, dtype: float64
1.0 1.0
323
78    1.0
7     NaN
Name: Survived, dtype: float64
1.0 1.0
7
78     1.0
323    1.0
Name: Survived, dtype: float64
1.0 1.0

163
500    0.0
Name: Survived, dtype: float64
0.0 0.0
500
163    0.0
Name: Survived, dtype: float64
0.0 0.0

501
388   NaN
Name: Survived, dtype: float64
nan nan
388
501    0.0
Name: Survived, dtype: float64
0.0 0.0

578
366   NaN
Name: Survived, dtype: float64
nan nan
366
578    0.0
Name: Survived, dtype: float64
0.0 0.0

679
343   NaN
Name: Survived, dtype: float64
nan nan
343
679    1.0
Name: Survived, dtype: float64
1.0 1.0

208
313   NaN
Name: Survived, dtype: float64
nan nan
313
208    1.0
Name: Survived, dtype: float64
1.0 1.0

83
403   NaN
Name: Survived, dtype: float64
nan nan
403
83    0.0
Name: Survived, dtype: float64
0.0 0.0

249
854    0.0
Name: Survived, dtype: float64
0.0 0.0
854
249    0.0
Name: Survived, dtype: float64
0.0 0.0

390
435    1.0
763    1.0
802    1.0
Name: Survived, dtype: float64
1.0 1.0
435
390    1.0
763    1.0
802    1.0
Name: Survived, dtype: float64
1.0 1.0
763
390    1.0
435    1.0
802    1.0
Name: Survived, dtype: float64
1.0 1.0
802
390    1.0
435    1.0
763    1.0
Name: Survived, dtype: float64
1.0 1.0

741
96   NaN
Name: Survived, dtype: float64
nan nan
96
741    0.0
Name: Survived, dtype: float64
0.0 0.0

92
14   NaN
Name: Survived, dtype: float64
nan nan
14
92    0.0
Name: Survived, dtype: float64
0.0 0.0

724
809    1.0
Name: Survived, dtype: float64
1.0 1.0
809
724    1.0
Name: Survived, dtype: float64
1.0 1.0

594
119   NaN
Name: Survived, dtype: float64
nan nan
119
594    0.0
Name: Survived, dtype: float64
0.0 0.0

580
241   NaN
Name: Survived, dtype: float64
nan nan
241
580    1.0
Name: Survived, dtype: float64
1.0 1.0

73
115   NaN
Name: Survived, dtype: float64
nan nan
115
73    0.0
Name: Survived, dtype: float64
0.0 0.0

252
272   NaN
Name: Survived, dtype: float64
nan nan
272
252   NaN
Name: Survived, dtype: float64
nan nan

426
328   NaN
Name: Survived, dtype: float64
nan nan
328
426    1.0
Name: Survived, dtype: float64
1.0 1.0

514
663    0.0
Name: Survived, dtype: float64
0.0 0.0
663
514    0.0
Name: Survived, dtype: float64
0.0 0.0

237
637    0.0
801    1.0
Name: Survived, dtype: float64
1.0 0.0
637
237    1.0
801    1.0
Name: Survived, dtype: float64
1.0 1.0
801
237    1.0
637    0.0
Name: Survived, dtype: float64
1.0 0.0

835
179   NaN
181   NaN
Name: Survived, dtype: float64
nan nan
179
835    1.0
181    NaN
Name: Survived, dtype: float64
1.0 1.0
181
835    1.0
179    NaN
Name: Survived, dtype: float64
1.0 1.0

646
56    NaN
334   NaN
Name: Survived, dtype: float64
nan nan
56
646    0.0
334    NaN
Name: Survived, dtype: float64
0.0 0.0
334
646    0.0
56     NaN
Name: Survived, dtype: float64
0.0 0.0

348
489    1.0
49     NaN
Name: Survived, dtype: float64
1.0 1.0
489
348    1.0
49     NaN
Name: Survived, dtype: float64
1.0 1.0
49
348    1.0
489    1.0
Name: Survived, dtype: float64
1.0 1.0

160
125   NaN
Name: Survived, dtype: float64
nan nan
125
160    0.0
Name: Survived, dtype: float64
0.0 0.0

540
745    0.0
Name: Survived, dtype: float64
0.0 0.0
745
540    1.0
Name: Survived, dtype: float64
1.0 1.0

1
234   NaN
Name: Survived, dtype: float64
nan nan
234
1    1.0
Name: Survived, dtype: float64
1.0 1.0

423
616    0.0
201    NaN
Name: Survived, dtype: float64
0.0 0.0
616
423    0.0
201    NaN
Name: Survived, dtype: float64
0.0 0.0
201
423    0.0
616    0.0
Name: Survived, dtype: float64
0.0 0.0

671
92   NaN
Name: Survived, dtype: float64
nan nan
92
671    0.0
Name: Survived, dtype: float64
0.0 0.0

147
187   NaN
Name: Survived, dtype: float64
nan nan
187
147   NaN
Name: Survived, dtype: float64
nan nan

565
9   NaN
Name: Survived, dtype: float64
nan nan
9
565    0.0
Name: Survived, dtype: float64
0.0 0.0

549
330   NaN
Name: Survived, dtype: float64
nan nan
330
549    1.0
Name: Survived, dtype: float64
1.0 1.0

347
58   NaN
Name: Survived, dtype: float64
nan nan
58
347    1.0
Name: Survived, dtype: float64
1.0 1.0

93
788    1.0
32     NaN
354    NaN
Name: Survived, dtype: float64
1.0 1.0
788
93     0.0
32     NaN
354    NaN
Name: Survived, dtype: float64
0.0 0.0
32
93     0.0
788    1.0
354    NaN
Name: Survived, dtype: float64
1.0 0.0
354
93     0.0
788    1.0
32     NaN
Name: Survived, dtype: float64
1.0 0.0

320
285   NaN
Name: Survived, dtype: float64
nan nan
285
320    0.0
Name: Survived, dtype: float64
0.0 0.0

690
781    1.0
Name: Survived, dtype: float64
1.0 1.0
781
690    1.0
Name: Survived, dtype: float64
1.0 1.0

445
293   NaN
374   NaN
Name: Survived, dtype: float64
nan nan
293
445    1.0
374    NaN
Name: Survived, dtype: float64
1.0 1.0
374
445    1.0
293    NaN
Name: Survived, dtype: float64
1.0 1.0

98
651    1.0
Name: Survived, dtype: float64
1.0 1.0
651
98    1.0
Name: Survived, dtype: float64
1.0 1.0

544
239   NaN
Name: Survived, dtype: float64
nan nan
239
544    0.0
Name: Survived, dtype: float64
0.0 0.0

416
194   NaN
247   NaN
Name: Survived, dtype: float64
nan nan
194
416    1.0
247    NaN
Name: Survived, dtype: float64
1.0 1.0
247
416    1.0
194    NaN
Name: Survived, dtype: float64
1.0 1.0

866
220   NaN
Name: Survived, dtype: float64
nan nan
220
866    1.0
Name: Survived, dtype: float64
1.0 1.0

90
172   NaN
Name: Survived, dtype: float64
nan nan
172
90   NaN
Name: Survived, dtype: float64
nan nan

352
532    0.0
337    NaN
Name: Survived, dtype: float64
0.0 0.0
532
352    0.0
337    NaN
Name: Survived, dtype: float64
0.0 0.0
337
352    0.0
532    0.0
Name: Survived, dtype: float64
0.0 0.0

53
277   NaN
Name: Survived, dtype: float64
nan nan
277
53    1.0
Name: Survived, dtype: float64
1.0 1.0

86
147    0.0
436    0.0
736    0.0
167    NaN
Name: Survived, dtype: float64
0.0 0.0
147
86     0.0
436    0.0
736    0.0
167    NaN
Name: Survived, dtype: float64
0.0 0.0
436
86     0.0
147    0.0
736    0.0
167    NaN
Name: Survived, dtype: float64
0.0 0.0
736
86     0.0
147    0.0
436    0.0
167    NaN
Name: Survived, dtype: float64
0.0 0.0
167
86     0.0
147    0.0
436    0.0
736    0.0
Name: Survived, dtype: float64
0.0 0.0

27
88     1.0
341    1.0
438    0.0
53     NaN
69     NaN
Name: Survived, dtype: float64
1.0 0.0
88
27     0.0
341    1.0
438    0.0
53     NaN
69     NaN
Name: Survived, dtype: float64
1.0 0.0
341
27     0.0
88     1.0
438    0.0
53     NaN
69     NaN
Name: Survived, dtype: float64
1.0 0.0
438
27     0.0
88     1.0
341    1.0
53     NaN
69     NaN
Name: Survived, dtype: float64
1.0 0.0
53
27     0.0
88     1.0
341    1.0
438    0.0
69     NaN
Name: Survived, dtype: float64
1.0 0.0
69
27     0.0
88     1.0
341    1.0
438    0.0
53     NaN
Name: Survived, dtype: float64
1.0 0.0

334
660    1.0
Name: Survived, dtype: float64
1.0 1.0
660
334    1.0
Name: Survived, dtype: float64
1.0 1.0

587
397   NaN
Name: Survived, dtype: float64
nan nan
397
587    1.0
Name: Survived, dtype: float64
1.0 1.0

3
137    0.0
Name: Survived, dtype: float64
0.0 0.0
137
3    1.0
Name: Survived, dtype: float64
1.0 1.0

405
401   NaN
Name: Survived, dtype: float64
nan nan
401
405    0.0
Name: Survived, dtype: float64
0.0 0.0

368
402   NaN
Name: Survived, dtype: float64
nan nan
402
368   NaN
Name: Survived, dtype: float64
nan nan

861
370   NaN
Name: Survived, dtype: float64
nan nan
370
861    0.0
Name: Survived, dtype: float64
0.0 0.0

453
849    1.0
Name: Survived, dtype: float64
1.0 1.0
849
453    1.0
Name: Survived, dtype: float64
1.0 1.0

165
328    1.0
548    0.0
Name: Survived, dtype: float64
1.0 0.0
328
165    1.0
548    0.0
Name: Survived, dtype: float64
1.0 0.0
548
165    1.0
328    1.0
Name: Survived, dtype: float64
1.0 1.0

59
71     0.0
386    0.0
480    0.0
678    0.0
683    0.0
139    NaN
140    NaN
Name: Survived, dtype: float64
0.0 0.0
71
59     0.0
386    0.0
480    0.0
678    0.0
683    0.0
139    NaN
140    NaN
Name: Survived, dtype: float64
0.0 0.0
386
59     0.0
71     0.0
480    0.0
678    0.0
683    0.0
139    NaN
140    NaN
Name: Survived, dtype: float64
0.0 0.0
480
59     0.0
71     0.0
386    0.0
678    0.0
683    0.0
139    NaN
140    NaN
Name: Survived, dtype: float64
0.0 0.0
678
59     0.0
71     0.0
386    0.0
480    0.0
683    0.0
139    NaN
140    NaN
Name: Survived, dtype: float64
0.0 0.0
683
59     0.0
71     0.0
386    0.0
480    0.0
678    0.0
139    NaN
140    NaN
Name: Survived, dtype: float64
0.0 0.0
139
59     0.0
71     0.0
386    0.0
480    0.0
678    0.0
683    0.0
140    NaN
Name: Survived, dtype: float64
0.0 0.0
140
59     0.0
71     0.0
386    0.0
480    0.0
678    0.0
683    0.0
139    NaN
Name: Survived, dtype: float64
0.0 0.0

268
332    0.0
Name: Survived, dtype: float64
0.0 0.0
332
268    1.0
Name: Survived, dtype: float64
1.0 1.0

97
350   NaN
Name: Survived, dtype: float64
nan nan
350
97    1.0
Name: Survived, dtype: float64
1.0 1.0

104
392    0.0
Name: Survived, dtype: float64
0.0 0.0
392
104    0.0
Name: Survived, dtype: float64
0.0 0.0

451
490    0.0
Name: Survived, dtype: float64
0.0 0.0
490
451    0.0
Name: Survived, dtype: float64
0.0 0.0

142
403    0.0
Name: Survived, dtype: float64
0.0 0.0
403
142    1.0
Name: Survived, dtype: float64
1.0 1.0

247
755    1.0
Name: Survived, dtype: float64
1.0 1.0
755
247    1.0
Name: Survived, dtype: float64
1.0 1.0

623
704    0.0
Name: Survived, dtype: float64
0.0 0.0
704
623    0.0
Name: Survived, dtype: float64
0.0 0.0

860
309   NaN
Name: Survived, dtype: float64
nan nan
309
860    0.0
Name: Survived, dtype: float64
0.0 0.0

370
364   NaN
Name: Survived, dtype: float64
nan nan
364
370    1.0
Name: Survived, dtype: float64
1.0 1.0

720
848    0.0
Name: Survived, dtype: float64
0.0 0.0
848
720    1.0
Name: Survived, dtype: float64
1.0 1.0

52
645    1.0
Name: Survived, dtype: float64
1.0 1.0
645
52    1.0
Name: Survived, dtype: float64
1.0 1.0

219
570    1.0
Name: Survived, dtype: float64
1.0 1.0
570
219    0.0
Name: Survived, dtype: float64
0.0 0.0

62
230    1.0
Name: Survived, dtype: float64
1.0 1.0
230
62    0.0
Name: Survived, dtype: float64
0.0 0.0

314
440    1.0
535    1.0
Name: Survived, dtype: float64
1.0 1.0
440
314    0.0
535    1.0
Name: Survived, dtype: float64
1.0 0.0
535
314    0.0
440    1.0
Name: Survived, dtype: float64
1.0 0.0

820
308   NaN
Name: Survived, dtype: float64
nan nan
308
820    1.0
Name: Survived, dtype: float64
1.0 1.0

615
754    1.0
353    NaN
385    NaN
Name: Survived, dtype: float64
1.0 1.0
754
615    1.0
353    NaN
385    NaN
Name: Survived, dtype: float64
1.0 1.0
353
615    1.0
754    1.0
385    NaN
Name: Survived, dtype: float64
1.0 1.0
385
615    1.0
754    1.0
353    NaN
Name: Survived, dtype: float64
1.0 1.0

120
655    0.0
665    0.0
Name: Survived, dtype: float64
0.0 0.0
655
120    0.0
665    0.0
Name: Survived, dtype: float64
0.0 0.0
665
120    0.0
655    0.0
Name: Survived, dtype: float64
0.0 0.0

329
523    1.0
Name: Survived, dtype: float64
1.0 1.0
523
329    1.0
Name: Survived, dtype: float64
1.0 1.0

479
4   NaN
Name: Survived, dtype: float64
nan nan
4
479    1.0
Name: Survived, dtype: float64
1.0 1.0

774
52   NaN
Name: Survived, dtype: float64
nan nan
52
774    1.0
Name: Survived, dtype: float64
1.0 1.0

236
248   NaN
Name: Survived, dtype: float64
nan nan
248
236    0.0
Name: Survived, dtype: float64
0.0 0.0

35
383    1.0
Name: Survived, dtype: float64
1.0 1.0
383
35    0.0
Name: Survived, dtype: float64
0.0 0.0

13
213   NaN
Name: Survived, dtype: float64
nan nan
213
13   NaN
Name: Survived, dtype: float64
nan nan

224
486    1.0
Name: Survived, dtype: float64
1.0 1.0
486
224    1.0
Name: Survived, dtype: float64
1.0 1.0

729
18   NaN
Name: Survived, dtype: float64
nan nan
18
729    0.0
Name: Survived, dtype: float64
0.0 0.0

217
600    1.0
Name: Survived, dtype: float64
1.0 1.0
600
217    0.0
Name: Survived, dtype: float64
0.0 0.0

31
319   NaN
Name: Survived, dtype: float64
nan nan
319
31   NaN
Name: Survived, dtype: float64
nan nan

640
771    0.0
Name: Survived, dtype: float64
0.0 0.0
771
640    0.0
Name: Survived, dtype: float64
0.0 0.0

302
597    0.0
Name: Survived, dtype: float64
0.0 0.0
597
302    0.0
Name: Survived, dtype: float64
0.0 0.0

8
172    1.0
869    1.0
Name: Survived, dtype: float64
1.0 1.0
172
8      1.0
869    1.0
Name: Survived, dtype: float64
1.0 1.0
869
8      1.0
172    1.0
Name: Survived, dtype: float64
1.0 1.0

783
888    0.0
33     NaN
244    NaN
Name: Survived, dtype: float64
0.0 0.0
888
783    0.0
33     NaN
244    NaN
Name: Survived, dtype: float64
0.0 0.0
33
783    0.0
888    0.0
244    NaN
Name: Survived, dtype: float64
0.0 0.0
244
783    0.0
888    0.0
33     NaN
Name: Survived, dtype: float64
0.0 0.0

569
318   NaN
Name: Survived, dtype: float64
nan nan
318
569    1.0
Name: Survived, dtype: float64
1.0 1.0

113
402    0.0
Name: Survived, dtype: float64
0.0 0.0
402
113    0.0
Name: Survived, dtype: float64
0.0 0.0

99
316    1.0
Name: Survived, dtype: float64
1.0 1.0
316
99    0.0
Name: Survived, dtype: float64
0.0 0.0

691
40   NaN
Name: Survived, dtype: float64
nan nan
40
691    1.0
Name: Survived, dtype: float64
1.0 1.0

303
16   NaN
Name: Survived, dtype: float64
nan nan
16
303    1.0
Name: Survived, dtype: float64
1.0 1.0

300
573    1.0
Name: Survived, dtype: float64
1.0 1.0
573
300    1.0
Name: Survived, dtype: float64
1.0 1.0

457
245   NaN
Name: Survived, dtype: float64
nan nan
245
457    1.0
Name: Survived, dtype: float64
1.0 1.0

85
249   NaN
Name: Survived, dtype: float64
nan nan
249
85   NaN
Name: Survived, dtype: float64
nan nan

214
121   NaN
Name: Survived, dtype: float64
nan nan
121
214    0.0
Name: Survived, dtype: float64
0.0 0.0

621
44   NaN
Name: Survived, dtype: float64
nan nan
44
621    1.0
Name: Survived, dtype: float64
1.0 1.0

69
376   NaN
Name: Survived, dtype: float64
nan nan
376
69    0.0
Name: Survived, dtype: float64
0.0 0.0

184
165   NaN
394   NaN
Name: Survived, dtype: float64
nan nan
165
184    1.0
394    NaN
Name: Survived, dtype: float64
1.0 1.0
394
184    1.0
165    NaN
Name: Survived, dtype: float64
1.0 1.0

153
263   NaN
Name: Survived, dtype: float64
nan nan
263
153   NaN
Name: Survived, dtype: float64
nan nan

312
149   NaN
Name: Survived, dtype: float64
nan nan
149
312    0.0
Name: Survived, dtype: float64
0.0 0.0

692
826    0.0
Name: Survived, dtype: float64
0.0 0.0
826
692    1.0
Name: Survived, dtype: float64
1.0 1.0

43
608    1.0
685    0.0
296    NaN
Name: Survived, dtype: float64
1.0 0.0
608
43     1.0
685    0.0
296    NaN
Name: Survived, dtype: float64
1.0 0.0
685
43     1.0
608    1.0
296    NaN
Name: Survived, dtype: float64
1.0 1.0
296
43     1.0
608    1.0
685    0.0
Name: Survived, dtype: float64
1.0 0.0

176
229    0.0
409    0.0
485    0.0
132    NaN
Name: Survived, dtype: float64
0.0 0.0
229
176    0.0
409    0.0
485    0.0
132    NaN
Name: Survived, dtype: float64
0.0 0.0
409
176    0.0
229    0.0
485    0.0
132    NaN
Name: Survived, dtype: float64
0.0 0.0
485
176    0.0
229    0.0
409    0.0
132    NaN

In [4]:
train_df = pd.read_csv("../input/train.csv")
test_df = pd.read_csv("../input/test.csv")
data_df = train_df.append(test_df) # The entire data: train + test.

data_df['Title'] = data_df['Name']
# Cleaning name and extracting Title
for name_string in data_df['Name']:
    data_df['Title'] = data_df['Name'].str.extract('([A-Za-z]+)\.', expand=True)

# Replacing rare titles with more common ones
mapping = {'Mlle': 'Miss', 'Major': 'Mr', 'Col': 'Mr', 'Sir': 'Mr', 'Don': 'Mr', 'Mme': 'Miss',
          'Jonkheer': 'Mr', 'Lady': 'Mrs', 'Capt': 'Mr', 'Countess': 'Mrs', 'Ms': 'Miss', 'Dona': 'Mrs'}
data_df.replace({'Title': mapping}, inplace=True)
titles = ['Dr', 'Master', 'Miss', 'Mr', 'Mrs', 'Rev']
for title in titles:
    age_to_impute = data_df.groupby('Title')['Age'].median()[titles.index(title)]
    data_df.loc[(data_df['Age'].isnull()) & (data_df['Title'] == title), 'Age'] = age_to_impute
    
# Substituting Age values in TRAIN_DF and TEST_DF:
train_df['Age'] = data_df['Age'][:891]
test_df['Age'] = data_df['Age'][891:]

# Dropping Title feature
data_df.drop('Title', axis = 1, inplace = True)


data_df['Family_Size'] = data_df['Parch'] + data_df['SibSp']

# Substituting Age values in TRAIN_DF and TEST_DF:
train_df['Family_Size'] = data_df['Family_Size'][:891]
test_df['Family_Size'] = data_df['Family_Size'][891:]



data_df['Last_Name'] = data_df['Name'].apply(lambda x: str.split(x, ",")[0])
data_df['Fare'].fillna(data_df['Fare'].mean(), inplace=True)

DEFAULT_SURVIVAL_VALUE = 0.5
data_df['Family_Survival'] = DEFAULT_SURVIVAL_VALUE

for grp, grp_df in data_df[['Survived','Name', 'Last_Name', 'Fare', 'Ticket', 'PassengerId',
                           'SibSp', 'Parch', 'Age', 'Cabin']].groupby(['Last_Name', 'Fare']):
    
    if (len(grp_df) != 1):
        # A Family group is found.
        for ind, row in grp_df.iterrows():
            smax = grp_df.drop(ind)['Survived'].max()
            smin = grp_df.drop(ind)['Survived'].min()
            passID = row['PassengerId']
            if (smax == 1.0):
                data_df.loc[data_df['PassengerId'] == passID, 'Family_Survival'] = 1
            elif (smin==0.0):
                data_df.loc[data_df['PassengerId'] == passID, 'Family_Survival'] = 0

print("Number of passengers with family survival information:", 
      data_df.loc[data_df['Family_Survival']!=0.5].shape[0])



for _, grp_df in data_df.groupby('Ticket'):
    if (len(grp_df) != 1):
        for ind, row in grp_df.iterrows():
            if (row['Family_Survival'] == 0) | (row['Family_Survival']== 0.5):
                smax = grp_df.drop(ind)['Survived'].max()
                smin = grp_df.drop(ind)['Survived'].min()
                passID = row['PassengerId']
                if (smax == 1.0):
                    data_df.loc[data_df['PassengerId'] == passID, 'Family_Survival'] = 1
                elif (smin==0.0):
                    data_df.loc[data_df['PassengerId'] == passID, 'Family_Survival'] = 0
                        
print("Number of passenger with family/group survival information: " 
      +str(data_df[data_df['Family_Survival']!=0.5].shape[0]))

# # Family_Survival in TRAIN_DF and TEST_DF:
train_df['Family_Survival'] = data_df['Family_Survival'][:891]
test_df['Family_Survival'] = data_df['Family_Survival'][891:]


data_df['Fare'].fillna(data_df['Fare'].median(), inplace = True)

# Making Bins
data_df['FareBin'] = pd.qcut(data_df['Fare'], 5)

label = LabelEncoder()
data_df['FareBin_Code'] = label.fit_transform(data_df['FareBin'])

train_df['FareBin_Code'] = data_df['FareBin_Code'][:891]
test_df['FareBin_Code'] = data_df['FareBin_Code'][891:]

train_df.drop(['Fare'], 1, inplace=True)
test_df.drop(['Fare'], 1, inplace=True)




data_df['AgeBin'] = pd.qcut(data_df['Age'], 4)

label = LabelEncoder()
data_df['AgeBin_Code'] = label.fit_transform(data_df['AgeBin'])

train_df['AgeBin_Code'] = data_df['AgeBin_Code'][:891]
test_df['AgeBin_Code'] = data_df['AgeBin_Code'][891:]

train_df.drop(['Age'], 1, inplace=True)
test_df.drop(['Age'], 1, inplace=True)



train_df['Sex'].replace(['male','female'],[0,1],inplace=True)
test_df['Sex'].replace(['male','female'],[0,1],inplace=True)

train_df.drop(['Name', 'PassengerId', 'SibSp', 'Parch', 'Ticket', 'Cabin',
               'Embarked'], axis = 1, inplace = True)
test_df.drop(['Name','PassengerId', 'SibSp', 'Parch', 'Ticket', 'Cabin',
              'Embarked'], axis = 1, inplace = True)

Number of passengers with family survival information: 420
Number of passenger with family/group survival information: 546

In [5]:
train_df.head(3)

,Survived,Pclass,Sex,Family_Size,Family_Survival,FareBin_Code,AgeBin_Code
0,0,3,0,1,0.5,0,0
1,1,1,1,1,0.5,4,3
2,1,3,1,0,0.5,1,1

In [7]:
X = train_df.drop('Survived', 1)
y = train_df['Survived']
X_test = test_df.copy()


std_scaler = StandardScaler()
X = std_scaler.fit_transform(X)
X_test = std_scaler.transform(X_test)



n_neighbors = [6,7,8,9,10,11,12,14,16,18,20,22]
algorithm = ['auto']
weights = ['uniform', 'distance']
leaf_size = list(range(1,50,5))
hyperparams = {'algorithm': algorithm, 'weights': weights, 'leaf_size': leaf_size, 
               'n_neighbors': n_neighbors}
gd=GridSearchCV(estimator = KNeighborsClassifier(), param_grid = hyperparams, verbose=True, 
                cv=10, scoring = "roc_auc", n_jobs=3)
gd.fit(X, y)
print(gd.best_score_)
print(gd.best_estimator_)

gd.best_estimator_.fit(X, y)
y_pred = gd.best_estimator_.predict(X_test)

Fitting 10 folds for each of 240 candidates, totalling 2400 fits

[Parallel(n_jobs=3)]: Done 766 tasks      | elapsed:    3.2s

0.879492358564122
KNeighborsClassifier(algorithm='auto', leaf_size=26, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=18, p=2,
           weights='uniform')

[Parallel(n_jobs=3)]: Done 2400 out of 2400 | elapsed:    7.6s finished

----
----
----
----

# original

https://www.kaggle.com/francksylla/titanic-machine-learning-from-disaster

# points

In [8]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier, ExtraTreesRegressor
from sklearn import cross_validation
import re
import operator
from sklearn.feature_selection import SelectKBest, f_classif

#Print you can execute arbitrary python code
train = pd.read_csv("../input/train.csv", dtype={"Age": np.float64}, )
test = pd.read_csv("../input/test.csv", dtype={"Age": np.float64}, )

target = train["Survived"].values
full = pd.concat([train, test])
#print(full.head())
#print(full.describe())
#print(full.info())

full['surname'] = full["Name"].apply(lambda x: x.split(',')[0].lower())

full["Title"] = full["Name"].apply(lambda x: re.search(' ([A-Za-z]+)\.',x).group(1))
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Dr": 5, "Rev": 6, "Major": 7, "Col": 7, "Mlle": 2, "Mme": 3,"Don": 9,"Dona": 9, "Lady": 10, "Countess": 10, "Jonkheer": 10, "Sir": 9, "Capt": 7, "Ms": 2}
full["TitleCat"] = full.loc[:,'Title'].map(title_mapping)

full["FamilySize"] = full["SibSp"] + full["Parch"] + 1
full["FamilySize"] = pd.cut(full["FamilySize"], bins=[0,1,4,20], labels=[0,1,2])

full["NameLength"] = full["Name"].apply(lambda x: len(x))

full["Embarked"] = pd.Categorical.from_array(full.Embarked).codes

full["Fare"] = full["Fare"].fillna(8.05)

full = pd.concat([full,pd.get_dummies(full['Sex'])],axis=1)

full['CabinCat'] = pd.Categorical.from_array(full.Cabin.fillna('0').apply(lambda x: x[0])).codes

# function to get oven/odd/null from cabine 
def get_type_cabine(cabine):
    # Use a regular expression to search for a title. 
    cabine_search = re.search('\d+', cabine)
    # If the title exists, extract and return it.
    if cabine_search:
        num = cabine_search.group(0)
        if np.float64(num) % 2 == 0:
            return '2'
        else:
            return '1'
    return '0'
full["Cabin"] = full["Cabin"].fillna(" ")

full["CabinType"] = full["Cabin"].apply(get_type_cabine)
#print(pd.value_counts(full["CabinType"]))



#### CHILD/FEMALE ADULT/MALE ADULT------------------------------------------------------------
child_age = 18
def get_person(passenger):
    age, sex = passenger
    if (age < child_age):
        return 'child'
    elif (sex == 'female'):
        return 'female_adult'
    else:
        return 'male_adult'
full = pd.concat([full, pd.DataFrame(full[['Age', 'Sex']].apply(get_person, axis=1), columns=['person'])],axis=1)
full = pd.concat([full,pd.get_dummies(full['person'])],axis=1)

### FEATURES BASED ON TICKET   --------------------------------------------------------
table_ticket = pd.DataFrame(full["Ticket"].value_counts())
table_ticket.rename(columns={'Ticket':'Ticket_Members'}, inplace=True)

table_ticket['Ticket_perishing_women'] = full.Ticket[(full.female_adult == 1.0) 
                                    & (full.Survived == 0.0) 
                                    & ((full.Parch > 0) | (full.SibSp > 0))].value_counts()
table_ticket['Ticket_perishing_women'] = table_ticket['Ticket_perishing_women'].fillna(0)
table_ticket['Ticket_perishing_women'][table_ticket['Ticket_perishing_women'] > 0] = 1.0 

table_ticket['Ticket_surviving_men'] = full.Ticket[(full.male_adult == 1.0) 
                                    & (full.Survived == 1.0) 
                                    & ((full.Parch > 0) | (full.SibSp > 0))].value_counts()
table_ticket['Ticket_surviving_men'] = table_ticket['Ticket_surviving_men'].fillna(0)
table_ticket['Ticket_surviving_men'][table_ticket['Ticket_surviving_men'] > 0] = 1.0 

table_ticket["Ticket_Id"]= pd.Categorical.from_array(table_ticket.index).codes
# compress under 3 members into one code.
table_ticket["Ticket_Id"][table_ticket["Ticket_Members"] < 3 ] = -1
table_ticket["Ticket_Members"] = pd.cut(table_ticket["Ticket_Members"], bins=[0,1,4,20], labels=[0,1,2])

full = pd.merge(full, table_ticket, left_on="Ticket",right_index=True,how='left', sort=False)

### FEATURES BASED ON SURNAME    --------------------------------------------------------
table_surname = pd.DataFrame(full["surname"].value_counts())
table_surname.rename(columns={'surname':'Surname_Members'}, inplace=True)

table_surname['Surname_perishing_women'] = full.surname[(full.female_adult == 1.0) 
                                    & (full.Survived == 0.0) 
                                    & ((full.Parch > 0) | (full.SibSp > 0))].value_counts()
table_surname['Surname_perishing_women'] = table_surname['Surname_perishing_women'].fillna(0)
table_surname['Surname_perishing_women'][table_surname['Surname_perishing_women'] > 0] = 1.0 

table_surname['Surname_surviving_men'] = full.surname[(full.male_adult == 1.0) 
                                    & (full.Survived == 1.0) 
                                    & ((full.Parch > 0) | (full.SibSp > 0))].value_counts()
table_surname['Surname_surviving_men'] = table_surname['Surname_surviving_men'].fillna(0)
table_surname['Surname_surviving_men'][table_surname['Surname_surviving_men'] > 0] = 1.0 

table_surname["Surname_Id"]= pd.Categorical.from_array(table_surname.index).codes
# compress under 3 members into one code.
table_surname["Surname_Id"][table_surname["Surname_Members"] < 3 ] = -1

table_surname["Surname_Members"] = pd.cut(table_surname["Surname_Members"], bins=[0,1,4,20], labels=[0,1,2])

full = pd.merge(full, table_surname, left_on="surname",right_index=True,how='left', sort=False)

### AGE PROCESSING --------------------------------------------------------------------------
classers = ['Fare','Parch','Pclass','SibSp','TitleCat', 
'CabinCat','female','male', 'Embarked', 'FamilySize', 'NameLength','Ticket_Members','Ticket_Id']
etr = ExtraTreesRegressor(n_estimators=200)
X_train = full[classers][full['Age'].notnull()]
Y_train = full['Age'][full['Age'].notnull()]
X_test = full[classers][full['Age'].isnull()]
etr.fit(X_train,np.ravel(Y_train))
age_preds = etr.predict(X_test)
full['Age'][full['Age'].isnull()] = age_preds

# FEATURES -----------------------------------------------------------------------------------
features = ['female','male','Age','male_adult','female_adult', 'child','TitleCat', 'Pclass',
'Pclass','Ticket_Id','NameLength','CabinType','CabinCat', 'SibSp', 'Parch',
'Fare','Embarked','Surname_Members','Ticket_Members','FamilySize',
'Ticket_perishing_women','Ticket_surviving_men',
'Surname_perishing_women','Surname_surviving_men']

train = full[0:891].copy()
test = full[891:].copy()

selector = SelectKBest(f_classif, k=len(features))
selector.fit(train[features], target)
scores = -np.log10(selector.pvalues_)
indices = np.argsort(scores)[::-1]
print("Features importance :")
for f in range(len(scores)):
    print("%0.2f %s" % (scores[indices[f]],features[indices[f]]))

# BEST CLASSIFIER METHOD ==> RANDOM FOREST -----------------------------------------------------
rfc = RandomForestClassifier(n_estimators=3000, min_samples_split=4, class_weight={0:0.745,1:0.255})


# CROSS VALIDATION WITH RANDOM FOREST CLASSIFIER METHOD-----------------------------------------
kf = cross_validation.KFold(train.shape[0], n_folds=3, random_state=1)

scores = cross_validation.cross_val_score(rfc, train[features], target, cv=kf)
print("Accuracy: %0.3f (+/- %0.2f) [%s]" % (scores.mean()*100, scores.std()*100, 'RFC Cross Validation'))
rfc.fit(train[features], target)
score = rfc.score(train[features], target)
print("Accuracy: %0.3f            [%s]" % (score*100, 'RFC full test'))
importances = rfc.feature_importances_
indices = np.argsort(importances)[::-1]
for f in range(len(features)):
    print("%d. feature %d (%f) %s" % (f + 1, indices[f]+1, importances[indices[f]]*100, features[indices[f]]))


# PREDICTION  -----------------------------------------------------------------------------------
rfc.fit(train[features], target)
predictions = rfc.predict(test[features])

# OUTPUT FILE -----------------------------------------------------------------------------------
PassengerId =np.array(test["PassengerId"]).astype(int)
my_prediction = pd.DataFrame(predictions, PassengerId, columns = ["Survived"])

#my_prediction.to_csv("my_prediction.csv", index_label = ["PassengerId"])

print("The end ...")

/home/yuki/.local/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:30: FutureWarning: Categorical.from_array is deprecated, use Categorical instead
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:36: FutureWarning: Categorical.from_array is deprecated, use Categorical instead
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:84: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:86: FutureWarning: Categorical.from_array is deprecated, use Categorical instead
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:101: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:109: FutureWarning: Categorical.from_array is deprecated, use Categorical instead
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:111: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'
/home/yuki/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:126: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Features importance :
68.85 female
68.85 male
64.90 male_adult
53.23 female_adult
26.22 TitleCat
24.60 Pclass
24.60 Pclass
23.69 NameLength
17.75 CabinCat
17.00 Ticket_surviving_men
16.28 CabinType
14.21 Fare
13.54 Ticket_perishing_women
13.04 Surname_surviving_men
10.36 Surname_perishing_women
6.94 Embarked
5.27 Ticket_Members
3.59 child
2.93 FamilySize
1.83 Parch
1.79 Age
1.07 Ticket_Id
0.73 Surname_Members
0.53 SibSp
Accuracy: 89.675 (+/- 0.88) [RFC Cross Validation]
Accuracy: 96.296            [RFC full test]
1. feature 3 (9.065882) Age
2. feature 16 (8.847920) Fare
3. feature 11 (8.524511) NameLength
4. feature 21 (7.702126) Ticket_perishing_women
5. feature 7 (6.984746) TitleCat
6. feature 2 (6.805425) male
7. feature 23 (6.511190) Surname_perishing_women
8. feature 1 (5.858741) female
9. feature 4 (4.639197) male_adult
10. feature 22 (4.528991) Ticket_surviving_men
11. feature 9 (3.971880) Pclass
12. feature 8 (3.825686) Pclass
13. feature 5 (3.749371) female_adult
14. feature 19 (2.678212) Ticket_Members
15. feature 24 (2.526357) Surname_surviving_men
16. feature 13 (2.408370) CabinCat
17. feature 20 (2.203285) FamilySize
18. feature 18 (1.857232) Surname_Members
19. feature 12 (1.774543) CabinType
20. feature 17 (1.690243) Embarked
21. feature 10 (1.246668) Ticket_Id
22. feature 14 (1.169161) SibSp
23. feature 15 (0.729642) Parch
24. feature 6 (0.700622) child
The end ...