https://www.kaggle.com/arthurtok/sql-and-python-primer-bokeh-plotly/notebook

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import sqlite3
import os

#from bokeh.plotting import figure, show
#from bokeh.io import output_notebook
#output_notebook()
#%matplotlib inline

#import plotly.offline as py
#py.init_notebook_mode(connected=True)
#import plotly.graph_objs as go
#import plotly.tools as tls

import warnings
warnings.filterwarnings('ignore')

In [2]:
conn = sqlite3.connect('../input/database.sqlite')
conn

In [3]:
c = conn.cursor()
c

In [4]:
for row in c.execute("SELECT * FROM Country LIMIT 2"):
    print(row)

('AFG', 'Afghanistan', 'Afghanistan', 'Islamic State of Afghanistan', 'AF', 'Afghan afghani', 'Fiscal year end: March 20; reporting period for national accounts data: FY (from 2013 are CY). National accounts data are sourced from the IMF and differ from the Central Statistics Organization numbers due to exclusion of the opium economy.', 'South Asia', 'Low income', 'AF', '2002/03', '', 'Value added at basic prices (VAB)', 'IDA', 'HIPC', 'Country uses the 1993 System of National Accounts methodology.', '', '', '', 'Actual', 'General trade system', 'Consolidated central government', 'General Data Dissemination System (GDDS)', '1979', 'Multiple Indicator Cluster Survey (MICS), 2010/11', 'Integrated household survey (IHS), 2008', '', '2013/14', '', 2013, 2000)
('ALB', 'Albania', 'Albania', 'Republic of Albania', 'AL', 'Albanian lek', '', 'Europe & Central Asia', 'Upper middle income', 'AL', 'Original chained constant price data are rescaled.', '1996', 'Value added at basic prices (VAB)', 'IBRD', '', 'Country uses the 1993 System of National Accounts methodology.', '', 'Rolling', 'IMF Balance of Payments Manual, 6th edition.', 'Actual', 'General trade system', 'Budgetary central government', 'General Data Dissemination System (GDDS)', '2011', 'Demographic and Health Survey (DHS), 2008/09', 'Living Standards Measurement Study Survey (LSMS), 2011/12', 'Yes', '2012', 2011, 2013, 2006)

In [5]:
Country = pd.read_sql("SELECT * FROM Country", con=conn)
Country.head()

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011,2013,2006
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",,,2010,2013,2001
3,ASM,American Samoa,American Samoa,American Samoa,AS,U.S. dollar,,East Asia & Pacific,Upper middle income,AS,...,,,2010,,,Yes,2007,,,
4,ADO,Andorra,Andorra,Principality of Andorra,AD,Euro,,Europe & Central Asia,High income: nonOECD,AD,...,,,2011. Population data compiled from administra...,,,Yes,,,2006,

Country_byTable = pd.read_sql_table("Country", con=conn)
Country_byTable.head()
# This cause the following error
# NotImplementedError: read_sql_table only supported for SQLAlchemy connectable.

In [6]:
pd.read_sql("SELECT * FROM Country LIMIT 3", con=conn)

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000
1,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,,Europe & Central Asia,Upper middle income,AL,...,Budgetary central government,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2011,2013,2006
2,DZA,Algeria,Algeria,People's Democratic Republic of Algeria,DZ,Algerian dinar,,Middle East & North Africa,Upper middle income,DZ,...,Budgetary central government,General Data Dissemination System (GDDS),2008,"Multiple Indicator Cluster Survey (MICS), 2012","Integrated household survey (IHS), 1995",,,2010,2013,2001

In [7]:
Country[Country['CountryCode']=="AFG"]

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000

In [8]:
pd.read_sql("SELECT * FROM Country WHERE CountryCode == 'AFG' ",
            con=conn)

,CountryCode,ShortName,TableName,LongName,Alpha2Code,CurrencyUnit,SpecialNotes,Region,IncomeGroup,Wb2Code,...,GovernmentAccountingConcept,ImfDataDisseminationStandard,LatestPopulationCensus,LatestHouseholdSurvey,SourceOfMostRecentIncomeAndExpenditureData,VitalRegistrationComplete,LatestAgriculturalCensus,LatestIndustrialData,LatestTradeData,LatestWaterWithdrawalData
0,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,Consolidated central government,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",,2013/14,,2013,2000

In [9]:
pd.read_sql("""SELECT Region, COUNT(*) AS [Count] 
FROM Country 
GROUP BY Region
ORDER BY 2 DESC
""", con=conn)

                       Region  Count
0       Europe & Central Asia     57
1          Sub-Saharan Africa     48
2   Latin America & Caribbean     41
3         East Asia & Pacific     36
4                                 33
5  Middle East & North Africa     21
6                  South Asia      8
7               North America      3

In [10]:
pd.read_sql("""
SELECT A.CountryCode
    ,B.LatestPopulationCensus
    ,B.SourceOfMostRecentIncomeAndExpenditureData
    ,B.ShortName
FROM (
    -- First subquery (i.e the Left table)
    SELECT CountryCode
        ,LatestPopulationCensus
        , SourceOfMostRecentIncomeAndExpenditureData
        , ShortName
    FROM Country
    WHERE CountryCode IN ('AFG', 'ALB', 'ASM', 'BEL')
    ) AS A
LEFT JOIN (
    -- Second subquery (i.e the right table)
    SELECT CountryCode
        , LatestPopulationCensus
        , SourceOfMostRecentIncomeAndExpenditureData
        , ShortName
    FROM Country AS A
    WHERE CountryCode IN ('AFG', 'ARM', 'URY', 'BEL')
    ) AS B
ON A.CountryCode = B.CountryCode
""", con=conn)

,CountryCode,LatestPopulationCensus,SourceOfMostRecentIncomeAndExpenditureData,ShortName
0,AFG,1979,"Integrated household survey (IHS), 2008",Afghanistan
1,ALB,None,None,None
2,ASM,None,None,None
3,BEL,2011,"Integrated household survey (IHS), 2000",Belgium

In [11]:
pd.read_sql("""
SELECT CountryCode
    , LatestPopulationCensus
    , SourceOfMostRecentIncomeAndExpenditureData
    , ShortName
    FROM Country
    WHERE CountryCode IN ('AFG', 'ALB', 'ASM', 'BEL')
    """, con=conn)

,CountryCode,LatestPopulationCensus,SourceOfMostRecentIncomeAndExpenditureData,ShortName
0,AFG,1979,"Integrated household survey (IHS), 2008",Afghanistan
1,ALB,2011,Living Standards Measurement Study Survey (LSM...,Albania
2,ASM,2010,,American Samoa
3,BEL,2011,"Integrated household survey (IHS), 2000",Belgium

In [12]:
pd.read_sql("""
SELECT CountryCode
    , LatestPopulationCensus
    , SourceOfMostRecentIncomeAndExpenditureData
    , ShortName
    FROM Country
    WHERE CountryCode IN ('AFG', 'ARM', 'URY', 'BEL')
    """, con=conn)

,CountryCode,LatestPopulationCensus,SourceOfMostRecentIncomeAndExpenditureData,ShortName
0,AFG,1979,"Integrated household survey (IHS), 2008",Afghanistan
1,ARM,2011,"Integrated household survey (IHS), 2012",Armenia
2,BEL,2011,"Integrated household survey (IHS), 2000",Belgium
3,URY,2011,"Integrated household survey (IHS), 2013",Uruguay

In [13]:
pd.read_sql("""
SELECT CountryCode
    , LatestPopulationCensus
    , SourceOfMostRecentIncomeAndExpenditureData
    , ShortName
FROM Country
WHERE CountryCode IN ('AFG', 'ALB', 'ASM', 'BEL')

UNION

SELECT CountryCode
    , LatestPopulationCensus
    , SourceOfMostRecentIncomeAndExpenditureData
    , ShortName
FROM Country
WHERE CountryCode IN ('AFG', 'ARM', 'URY', 'BEL')

    """, con=conn)

,CountryCode,LatestPopulationCensus,SourceOfMostRecentIncomeAndExpenditureData,ShortName
0,AFG,1979,"Integrated household survey (IHS), 2008",Afghanistan
1,ALB,2011,Living Standards Measurement Study Survey (LSM...,Albania
2,ARM,2011,"Integrated household survey (IHS), 2012",Armenia
3,ASM,2010,,American Samoa
4,BEL,2011,"Integrated household survey (IHS), 2000",Belgium
5,URY,2011,"Integrated household survey (IHS), 2013",Uruguay

In [14]:
pd.read_sql("""
SELECT CountryCode
    , LatestPopulationCensus
    , SourceOfMostRecentIncomeAndExpenditureData
    , ShortName
FROM Country
WHERE CountryCode IN ('AFG', 'ALB', 'ASM', 'BEL')

INTERSECT

SELECT CountryCode
    , LatestPopulationCensus
    , SourceOfMostRecentIncomeAndExpenditureData
    , ShortName
FROM Country
WHERE CountryCode IN ('AFG', 'ARM', 'URY', 'BEL')

    """, con=conn)

,CountryCode,LatestPopulationCensus,SourceOfMostRecentIncomeAndExpenditureData,ShortName
0,AFG,1979,"Integrated household survey (IHS), 2008",Afghanistan
1,BEL,2011,"Integrated household survey (IHS), 2000",Belgium

In [15]:
pd.read_sql("""
SELECT CountryCode
    , LatestPopulationCensus
    , SourceOfMostRecentIncomeAndExpenditureData
    , ShortName
FROM Country
WHERE CountryCode IN ('AFG', 'ALB', 'ASM', 'BEL')

EXCEPT

SELECT CountryCode
    , LatestPopulationCensus
    , SourceOfMostRecentIncomeAndExpenditureData
    , ShortName
FROM Country
WHERE CountryCode IN ('AFG', 'ARM', 'URY', 'BEL')

    """, con=conn)

,CountryCode,LatestPopulationCensus,SourceOfMostRecentIncomeAndExpenditureData,ShortName
0,ALB,2011,Living Standards Measurement Study Survey (LSM...,Albania
1,ASM,2010,,American Samoa

In [16]:
Indicators = pd.read_sql("""
SELECT *
FROM Indicators
WHERE IndicatorCode IN
    ('AG.LND.PRCP.MM',
    'AG.LND.FRST.K2',
    'EG.ELC.ACCS.ZS',
    'EG.ELC.FOSL.ZS',
    'EN.POP.DNST',
    'SG.VAW.REAS.ZS',
    'SM.POP.NETM',
    'SP.POP.65UP.TO.ZS',
    'FI.RES.TOTL.DT.ZS', 
    'GC.DOD.TOTL.GD.ZS',
    'MS.MIL.XPND.GD.ZS',
    'SI.POV.GINI',
    'IP.JRN.ARTC.SC',
    'SE.ADT.1524.LT.ZS'
    )
""", con=conn)
print(Indicators.shape)
Indicators.head()

(62211, 6)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,Forest area (sq. km),AG.LND.FRST.K2,1990,959062.8
1,Caribbean small states,CSS,Forest area (sq. km),AG.LND.FRST.K2,1990,328330.5
2,Central Europe and the Baltics,CEB,Forest area (sq. km),AG.LND.FRST.K2,1990,351770.0
3,East Asia & Pacific (all income levels),EAS,Forest area (sq. km),AG.LND.FRST.K2,1990,6550932.2
4,East Asia & Pacific (developing only),EAP,Forest area (sq. km),AG.LND.FRST.K2,1990,4601840.4