http://ailaby.com/dataframe_pivot/

In [1]:
from pandas import DataFrame
 
df=DataFrame([['4-10','AA','TV',150000,15000],
              ['4-10','BB','Camera',70000,7000],
              ['4-10','AA','Book',2000,200],
              ['4-10','AA','Book',3000,300],
              ['4-10','CC','TV',200000,20000],
              ['4-11','BB','Camera',50000,5000],
              ['4-11','CC','Book',1000,100]],
              columns=['DATE','CUSTOMER','PRODUCT','PRICE','TAX'])

In [2]:
df.head()

   DATE CUSTOMER PRODUCT   PRICE    TAX
0  4-10       AA      TV  150000  15000
1  4-10       BB  Camera   70000   7000
2  4-10       AA    Book    2000    200
3  4-10       AA    Book    3000    300
4  4-10       CC      TV  200000  20000

In [4]:
df.pivot_table(values = ["PRICE"], index=["CUSTOMER"], aggfunc="sum")

           PRICE
CUSTOMER
AA        155000
BB        120000
CC        201000

In [5]:
df.pivot_table(values=["PRICE"], index=["CUSTOMER"], columns=["PRODUCT"],
              aggfunc="sum")

           PRICE
PRODUCT     Book    Camera        TV
CUSTOMER
AA        5000.0       NaN  150000.0
BB           NaN  120000.0       NaN
CC        1000.0       NaN  200000.0

In [6]:
df.pivot_table(values=["PRICE"], index=["CUSTOMER"], columns=["PRODUCT"],
              aggfunc="sum", fill_value=0)

         PRICE
PRODUCT   Book  Camera      TV
CUSTOMER
AA        5000       0  150000
BB           0  120000       0
CC        1000       0  200000