In [2]:
import pandas as pd

melb_data = pd.read_csv('../input/melbourne-housing-snapshot/melb_data.csv')

melb_data

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
5,10,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,7/05/2016,2.5,...,1.0,0.0,181.0,NaN,NaN,Yarra,-37.80410,144.99530,Northern Metropolitan,4019.0
6,11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,7/05/2016,2.5,...,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.80240,144.99930,Northern Metropolitan,4019.0
7,14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,8/10/2016,2.5,...,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.80600,144.99540,Northern Metropolitan,4019.0
8,15,Abbotsford,217 Langridge St,3,h,1000000.0,S,Jellis,8/10/2016,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
9,16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,8/10/2016,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
10,17,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,8/10/2016,2.5,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80080,144.99730,Northern Metropolitan,4019.0
11,18,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,8/10/2016,2.5,...,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.80100,144.99890,Northern Metropolitan,4019.0
12,19,Abbotsford,403/609 Victoria St,2,u,542000.0,S,Dingle,8/10/2016,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
13,21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,SP,Biggin,10/12/2016,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
14,22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10/12/2016,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
15,23,Abbotsford,411/8 Grosvenor St,2,u,700000.0,VB,Jellis,12/11/2016,2.5,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81100,145.00670,Northern Metropolitan,4019.0
16,24,Abbotsford,40 Nicholson St,3,h,1350000.0,VB,Nelson,12/11/2016,2.5,...,2.0,2.0,214.0,190.0,2005.0,Yarra,-37.80850,144.99640,Northern Metropolitan,4019.0
17,25,Abbotsford,123/56 Nicholson St,2,u,750000.0,S,Biggin,12/11/2016,2.5,...,2.0,1.0,0.0,94.0,2009.0,Yarra,-37.80780,144.99650,Northern Metropolitan,4019.0
18,26,Abbotsford,22 Park St,4,h,1985000.0,S,Biggin,12/11/2016,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.80840,144.99420,Northern Metropolitan,4019.0
19,27,Abbotsford,13/84 Trenerry Cr,1,u,500000.0,S,Biggin,12/11/2016,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
20,28,Abbotsford,45 William St,2,h,1172500.0,S,Biggin,13/08/2016,2.5,...,1.0,1.0,195.0,NaN,NaN,Yarra,-37.80840,144.99730,Northern Metropolitan,4019.0
21,29,Abbotsford,7/20 Abbotsford St,1,u,441000.0,SP,Greg,14/05/2016,2.5,...,1.0,1.0,0.0,NaN,NaN,Yarra,-37.80160,144.99880,Northern Metropolitan,4019.0
22,30,Abbotsford,16 William St,2,h,1310000.0,S,Jellis,15/10/2016,2.5,...,1.0,2.0,238.0,97.0,1890.0,Yarra,-37.80900,144.99760,Northern Metropolitan,4019.0
23,32,Abbotsford,42 Henry St,3,h,1200000.0,S,Jellis,16/07/2016,2.5,...,2.0,1.0,113.0,110.0,1880.0,Yarra,-37.80560,144.99300,Northern Metropolitan,4019.0
24,33,Abbotsford,250 Langridge St,2,t,847000.0,S,Jellis,16/07/2016,2.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
25,35,Abbotsford,78 Yarra St,3,h,1176500.0,S,LITTLE,16/07/2016,2.5,...,1.0,1.0,138.0,105.0,1890.0,Yarra,-37.80210,144.99650,Northern Metropolitan,4019.0
26,36,Abbotsford,196 Nicholson St,3,h,955000.0,S,Collins,17/09/2016,2.5,...,1.0,0.0,183.0,NaN,NaN,Yarra,-37.80220,144.99750,Northern Metropolitan,4019.0
27,37,Abbotsford,42 Valiant St,2,h,890000.0,S,Biggin,17/09/2016,2.5,...,1.0,1.0,150.0,73.0,1985.0,Yarra,-37.80110,145.00040,Northern Metropolitan,4019.0
28,38,Abbotsford,3/72 Charles St,4,h,1330000.0,PI,Kay,18/03/2017,2.5,...,2.0,2.0,780.0,135.0,1900.0,Yarra,-37.80730,144.99520,Northern Metropolitan,4019.0
29,40,Abbotsford,13/11 Nicholson St,3,t,900000.0,S,Beller,18/03/2017,2.5,...,2.0,2.0,0.0,NaN,2010.0,Yarra,-37.80930,144.99590,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18366,23508,Toorak,21/1059 Malvern Rd,2,u,720000.0,VB,Beller,26/08/2017,4.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Southern Metropolitan,7217.0
18367,23509,Toorak,25/637 Orrong Rd,2,u,631000.0,SP,Jellis,26/08/2017,4.1,...,1.0,1.0,NaN,1.0,1977.0,NaN,-37.84740,145.01247,Southern Metropolitan,7217.0
18368,23510,Truganina,12 Arthur Cl,3,h,523000.0,S,Barry,26/08/2017,18.4,...,2.0,2.0,NaN,NaN,NaN,NaN,-37.84668,144.71607,Western Metropolitan,5811.0
18369,23511,Tullamarine,3/32 Banksia Gr,2,u,530000.0,S,Jason,26/08/2017,12.9,...,1.0,1.0,NaN,86.0,2004.0,NaN,-37.70501,144.88182,Western Metropolitan,3296.0
18370,23512,Tullamarine,7 Londrew Ct,3,h,540000.0,S,Barry,26/08/2017,12.9,...,1.0,1.0,607.0,102.0,1970.0,NaN,-37.69423,144.88002,Western Metropolitan,3296.0
18371,23513,Tullamarine,1/34 Sharps Rd,2,u,290000.0,VB,Barry,26/08/2017,12.9,...,1.0,1.0,NaN,109.0,1975.0,NaN,-37.70811,144.88089,Western Metropolitan,3296.0
18372,23514,Vermont,73 Nurlendi Rd,4,h,1263500.0,S,Barry,26/08/2017,17.2,...,2.0,2.0,791.0,NaN,NaN,NaN,-37.84467,145.19276,Eastern Metropolitan,4181.0
18373,23515,Vermont South,308 Hawthorn Rd,3,t,931000.0,S,Biggin,26/08/2017,17.2,...,2.0,2.0,NaN,152.0,2009.0,NaN,-37.84780,145.18855,Eastern Metropolitan,4280.0
18374,23517,Vermont South,2 Settlers Ct,4,h,1295000.0,SP,Purplebricks,26/08/2017,17.2,...,2.0,2.0,NaN,190.0,1980.0,NaN,-37.85928,145.18715,Eastern Metropolitan,4280.0
18375,23518,Vermont South,9 Winswood Cl,4,h,1250000.0,PI,Philip,26/08/2017,17.2,...,2.0,2.0,986.0,NaN,NaN,NaN,-37.84679,145.20051,Eastern Metropolitan,4280.0
18376,23519,Viewbank,149 Graham Rd,5,h,1316000.0,SP,Nelson,26/08/2017,8.9,...,3.0,3.0,696.0,NaN,NaN,NaN,-37.73501,145.08341,Eastern Metropolitan,2698.0
18377,23521,Wantirna,16 chesterfield Ct,4,h,951000.0,S,Ray,26/08/2017,14.7,...,2.0,2.0,704.0,200.0,1981.0,NaN,-37.85639,145.23536,Eastern Metropolitan,5424.0
18378,23523,Wantirna South,12 Armagh Cr,4,h,1323000.0,S,Barry,26/08/2017,14.7,...,2.0,2.0,551.0,NaN,NaN,NaN,-37.87608,145.22390,Eastern Metropolitan,7082.0
18379,23524,Wantirna South,34 Fewster Dr,3,h,970000.0,S,Barry,26/08/2017,14.7,...,2.0,2.0,674.0,NaN,NaN,NaN,-37.88360,145.22805,Eastern Metropolitan,7082.0
18380,23525,Wantirna South,15 Mara Cl,4,h,1330000.0,S,Barry,26/08/2017,14.7,...,2.0,2.0,717.0,191.0,1980.0,NaN,-37.86887,145.22116,Eastern Metropolitan,7082.0
18381,23526,Watsonia,2/14 Daours Ct,2,u,590000.0,S,Lindellas,26/08/2017,14.5,...,1.0,1.0,NaN,83.0,2010.0,NaN,-37.71500,145.07649,Northern Metropolitan,2329.0
18382,23527,Watsonia,76 Kenmare St,2,h,650000.0,PI,Morrison,26/08/2017,14.5,...,1.0,1.0,210.0,79.0,2006.0,NaN,-37.70657,145.07878,Northern Metropolitan,2329.0
18383,23531,Werribee,91 Latham St,4,h,540000.0,PI,Triwest,26/08/2017,14.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Western Metropolitan,16166.0
18384,23532,Werribee,5 Nuragi Ct,4,h,635000.0,S,hockingstuart,26/08/2017,14.7,...,2.0,1.0,662.0,172.0,1980.0,NaN,-37.89327,144.64789,Western Metropolitan,16166.0
18385,23534,West Footscray,1/21 Waratah St,2,t,655000.0,S,Jas,26/08/2017,6.4,...,2.0,1.0,NaN,135.0,2012.0,NaN,-37.80968,144.86819,Western Metropolitan,5058.0
18386,23535,Westmeadows,9 Black St,3,h,582000.0,S,Red,26/08/2017,16.5,...,2.0,2.0,256.0,NaN,NaN,NaN,-37.67917,144.89390,Northern Metropolitan,2474.0
18387,23536,Westmeadows,81 Hillcrest Dr,4,h,720000.0,VB,Barry,26/08/2017,16.5,...,2.0,0.0,NaN,NaN,NaN,NaN,-37.68006,144.87550,Northern Metropolitan,2474.0
18388,23537,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
18389,23538,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
18390,23539,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

melb_target = melb_data.Price
melb_target.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

In [9]:
melb_predictors = melb_data.drop(['Price'], axis=1)
melb_predictors.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [10]:
melb_numeric_preditors = melb_predictors.select_dtypes(exclude=['object'])
melb_numeric_preditors.head()

,Unnamed: 0,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,1,2,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.7996,144.9984,4019.0
1,2,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.8079,144.9934,4019.0
2,4,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.8093,144.9944,4019.0
3,5,3,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,-37.7969,144.9969,4019.0
4,6,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.8072,144.9941,4019.0

In [13]:
melb_numeric_preditors.isnull()

,Unnamed: 0,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,False,False,False,False,False,False,False,False,True,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,True,True,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,True,True,True,True,True,True,True,True,False
9,False,False,False,False,True,True,True,True,True,True,True,True,False
10,False,False,False,False,False,False,False,False,True,True,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,True,True,True,True,True,True,True,True,False
13,False,False,False,False,True,True,True,True,True,True,True,True,False
14,False,False,False,False,True,True,True,True,True,True,True,True,False
15,False,False,False,False,False,False,False,False,True,True,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,True,True,True,True,True,True,False,False,False
19,False,False,False,False,True,True,True,True,True,True,True,True,False
20,False,False,False,False,False,False,False,False,True,True,False,False,False
21,False,False,False,False,False,False,False,False,True,True,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,True,True,True,True,True,True,True,True,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,True,True,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18366,False,False,False,False,True,True,True,True,True,True,True,True,False
18367,False,False,False,False,False,False,False,True,False,False,False,False,False
18368,False,False,False,False,False,False,False,True,True,True,False,False,False
18369,False,False,False,False,False,False,False,True,False,False,False,False,False
18370,False,False,False,False,False,False,False,False,False,False,False,False,False
18371,False,False,False,False,False,False,False,True,False,False,False,False,False
18372,False,False,False,False,False,False,False,False,True,True,False,False,False
18373,False,False,False,False,False,False,False,True,False,False,False,False,False
18374,False,False,False,False,False,False,False,True,False,False,False,False,False
18375,False,False,False,False,False,False,False,False,True,True,False,False,False
18376,False,False,False,False,False,False,False,False,True,True,False,False,False
18377,False,False,False,False,False,False,False,False,False,False,False,False,False
18378,False,False,False,False,False,False,False,False,True,True,False,False,False
18379,False,False,False,False,False,False,False,False,True,True,False,False,False
18380,False,False,False,False,False,False,False,False,False,False,False,False,False
18381,False,False,False,False,False,False,False,True,False,False,False,False,False
18382,False,False,False,False,False,False,False,False,False,False,False,False,False
18383,False,False,False,False,True,True,True,True,True,True,True,True,False
18384,False,False,False,False,False,False,False,False,False,False,False,False,False
18385,False,False,False,False,False,False,False,True,False,False,False,False,False
18386,False,False,False,False,False,False,False,False,True,True,False,False,False
18387,False,False,False,False,False,False,False,True,True,True,False,False,False
18388,False,False,False,False,False,False,False,False,True,False,False,False,False
18389,False,False,False,False,False,False,False,False,False,False,False,False,False
18390,False,False,False,False,False,False,False,False,True,False,False,False,False
18391,False,False,False,False,False,False,False,True,False,False,False,False,False
18392,False,False,False,False,False,False,False,False,False,False,False,False,False
18393,False,False,False,False,False,False,False,True,True,True,False,False,False
18394,False,False,False,False,False,False,False,False,False,False,False,False,False
18395,False,False,False,False,False,False,False,True,False,False,False,False,False

In [14]:
melb_numeric_preditors.isnull().sum()

Unnamed: 0           0
Rooms                0
Distance             1
Postcode             1
Bedroom2          3469
Bathroom          3471
Car               3576
Landsize          4793
BuildingArea     10634
YearBuilt         9438
Lattitude         3332
Longtitude        3332
Propertycount        1
dtype: int64

In [16]:
melb_numeric_preditors.dropna(axis=1).head()

   Unnamed: 0  Rooms
0           1      2
1           2      2
2           4      3
3           5      3
4           6      4

In [17]:
melb_numeric_preditors.isnull().any()

Unnamed: 0       False
Rooms            False
Distance          True
Postcode          True
Bedroom2          True
Bathroom          True
Car               True
Landsize          True
BuildingArea      True
YearBuilt         True
Lattitude         True
Longtitude        True
Propertycount     True
dtype: bool

In [21]:
from sklearn.preprocessing import Imputer
my_imputer = Imputer()
data_with_imputed_values = my_imputer.fit_transform(melb_numeric_preditors)
data_with_imputed_values

array([[  1.00000000e+00,   2.00000000e+00,   2.50000000e+00, ...,
         -3.77996000e+01,   1.44998400e+02,   4.01900000e+03],
       [  2.00000000e+00,   2.00000000e+00,   2.50000000e+00, ...,
         -3.78079000e+01,   1.44993400e+02,   4.01900000e+03],
       [  4.00000000e+00,   3.00000000e+00,   2.50000000e+00, ...,
         -3.78093000e+01,   1.44994400e+02,   4.01900000e+03],
       ...,
       [  2.35440000e+04,   4.00000000e+00,   1.27000000e+01, ...,
         -3.77200600e+01,   1.45105470e+02,   1.36900000e+03],
       [  2.35450000e+04,   4.00000000e+00,   6.30000000e+00, ...,
         -3.78118800e+01,   1.44884490e+02,   6.54300000e+03],
       [  2.35460000e+04,   4.00000000e+00,   6.30000000e+00, ...,
         -3.78182900e+01,   1.44874040e+02,   6.54300000e+03]])

In [64]:
X_train, X_test, y_train, y_test = train_test_split(melb_numeric_preditors, melb_target, test_size=0.33, random_state=0)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
cols_with_missing = [col for col in X_train.columns
                    if X_train[col].isnull().any()]
cols_with_missing

(12325, 13) (6071, 13) (12325,) (6071,)

['Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude',
 'Propertycount']

In [65]:
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_test = X_test.drop(cols_with_missing, axis=1)
reduced_X_train.head()

       Unnamed: 0  Rooms
7852        10061      5
10674       13728      4
14426       18507      2
7285         9396      1
4075         5299      2

In [66]:
reduced_X_test.head()

       Unnamed: 0  Rooms
3008         3932      1
9189        11811      2
5053         6615      5
8264        10608      3
15373       19712      4

In [69]:
def score_dataset(reduced_X_train, reduced_X_test, y_train, y_test):
    rfr_model = RandomForestRegressor()
    #print(reduced_X_train.shape, y_train.shape)
    rfr_model.fit(reduced_X_train, y_train)
    y_pred = rfr_model.predict(reduced_X_test)
    mae = mean_absolute_error(y_test, y_pred)
    return mae

In [70]:
print(reduced_X_train.shape, reduced_X_test.shape, y_train.shape, y_test.shape)
print(score_dataset(reduced_X_train, reduced_X_test, y_train, y_test))

(12325, 2) (6071, 2) (12325,) (6071,)
350490.465854

In [82]:
from sklearn.preprocessing import Imputer

my_imputer = Imputer()
imputed_X_train = my_imputer.fit_transform(X_train)
imputed_X_test = my_imputer.fit_transform(X_test)
print(score_dataset(imputed_X_train, imputed_X_test, y_train, y_test))

206017.988354

In [78]:
imputed_X_train_plus = X_train.copy()
imputed_X_test_plus = X_test.copy()

cols_with_missing = (col for col in X_train.columns if X_train[col].isnull().any())
print(cols_with_missing)

for col in cols_with_missing:
    imputed_X_train_plus[col + '_was_missing'] = imputed_X_train_plus[col].isnull()
    imputed_X_test_plus[col + '_was_missing'] = imputed_X_test_plus[col].isnull()

imputed_X_train_plus.head()

<generator object <genexpr> at 0x7f48e55801a8>

,Unnamed: 0,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,...,Postcode_was_missing,Bedroom2_was_missing,Bathroom_was_missing,Car_was_missing,Landsize_was_missing,BuildingArea_was_missing,YearBuilt_was_missing,Lattitude_was_missing,Longtitude_was_missing,Propertycount_was_missing
7852,10061,5,11.2,3127.0,5.0,5.0,2.0,693.0,NaN,1930.0,...,False,False,False,False,False,True,False,False,False,False
10674,13728,4,9.7,3041.0,4.0,1.0,1.0,543.0,137.0,1960.0,...,False,False,False,False,False,False,False,False,False,False
14426,18507,2,7.5,3040.0,2.0,1.0,1.0,0.0,NaN,NaN,...,False,False,False,False,False,True,True,False,False,False
7285,9396,1,3.3,3141.0,NaN,NaN,NaN,NaN,NaN,NaN,...,False,True,True,True,True,True,True,True,True,False
4075,5299,2,4.6,3122.0,2.0,1.0,1.0,1228.0,NaN,1970.0,...,False,False,False,False,False,True,False,False,False,False

In [90]:
my_imputer = Imputer()
imputed_X_train_plus = my_imputer.fit_transform(imputed_X_train_plus)
imputed_X_test_plus = my_imputer.transform(imputed_X_test_plus)

imputed_X_train_plus

array([[  1.00610000e+04,   5.00000000e+00,   1.12000000e+01, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.37280000e+04,   4.00000000e+00,   9.70000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.85070000e+04,   2.00000000e+00,   7.50000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       ...,
       [  1.26490000e+04,   3.00000000e+00,   7.80000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  1.38870000e+04,   3.00000000e+00,   8.20000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00],
       [  3.55800000e+03,   2.00000000e+00,   1.60000000e+00, ...,
          0.00000000e+00,   0.00000000e+00,   0.00000000e+00]])

In [94]:
# TrueãŒ1, FalseãŒ0ã«å¤‰æ›ã•ã‚Œã¦ã„ã‚‹
print(imputed_X_train_plus[:,-5])
print(imputed_X_train_plus[:,-4])
print(imputed_X_train_plus[:,-3])
print(imputed_X_train_plus[:,-2])
print(imputed_X_train_plus[:,-1]) #-1åˆ—ç›®

[ 1.  0.  1. ...,  0.  1.  1.]
[ 0.  0.  1. ...,  0.  1.  1.]
[ 0.  0.  0. ...,  0.  0.  0.]
[ 0.  0.  0. ...,  0.  0.  0.]
[ 0.  0.  0. ...,  0.  0.  0.]

In [86]:
print(score_dataset(imputed_X_train_plus, imputed_X_test_plus, y_train, y_test))

202807.251161

In [99]:
melb_predictors.dtypes.sample(10)

SellerG         object
CouncilArea     object
Method          object
Unnamed: 0       int64
Type            object
Car            float64
Suburb          object
Bedroom2       float64
Landsize       float64
Rooms            int64
dtype: object

In [100]:
melb_predictors.dtypes

Unnamed: 0         int64
Suburb            object
Address           object
Rooms              int64
Type              object
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [105]:
melb_predictors.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [104]:
one_hot_encoded_training_predictors = pd.get_dummies(melb_predictors)
one_hot_encoded_training_predictors.head()

,Unnamed: 0,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,...,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Regionname_Eastern Metropolitan,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
0,1,2,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,...,1,0,0,0,1,0,0,0,0,0
1,2,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,...,1,0,0,0,1,0,0,0,0,0
2,4,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,...,1,0,0,0,1,0,0,0,0,0
3,5,3,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,...,1,0,0,0,1,0,0,0,0,0
4,6,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,...,1,0,0,0,1,0,0,0,0,0

In [112]:
print(melb_predictors.Address.head())
one_hot_encoded_training_predictors.columns
[col for col in one_hot_encoded_training_predictors.columns if col.startswith('Address')]

0        85 Turner St
1     25 Bloomburg St
2        5 Charles St
3    40 Federation La
4         55a Park St
Name: Address, dtype: object

['Address_1 Acheron Av',
 'Address_1 Adelle Ct',
 'Address_1 Airlie St',
 'Address_1 Albion Ct',
 'Address_1 Alexander St',
 'Address_1 Alma St',
 'Address_1 Ann St',
 'Address_1 Anthony St',
 'Address_1 Arnot St',
 'Address_1 Arthur St',
 'Address_1 Ash Gr',
 'Address_1 Ashdown Ct',
 'Address_1 Aspen St',
 'Address_1 Athol St',
 'Address_1 Avenue Victoria',
 'Address_1 Bahama Ct',
 'Address_1 Baird St',
 'Address_1 Balfour St',
 'Address_1 Balloan St',
 'Address_1 Balmoral Av',
 'Address_1 Bardia St',
 'Address_1 Barunah St',
 'Address_1 Baxter St',
 'Address_1 Beacon Ct',
 'Address_1 Beddoe Av',
 'Address_1 Bellarine St',
 'Address_1 Belvoir Gdns',
 'Address_1 Bent St',
 'Address_1 Bernard St',
 'Address_1 Bernarra Ct',
 'Address_1 Bethell St',
 'Address_1 Blackshaw St',
 'Address_1 Bloomfield Rd',
 'Address_1 Bluebell Cr',
 'Address_1 Bolinda Rd',
 'Address_1 Boreham St',
 'Address_1 Bourneville Av',
 'Address_1 Boyne St',
 'Address_1 Brack Av',
 'Address_1 Braemar St',
 'Address_1 Brewery La',
 'Address_1 Broderick Rd',
 'Address_1 Brooks Cr',
 'Address_1 Bruce St',
 'Address_1 Bute St',
 'Address_1 Buxton St',
 'Address_1 Calembeena Av',
 'Address_1 Cameron St',
 'Address_1 Carcoola Ct',
 'Address_1 Carina Dr',
 'Address_1 Caroline St',
 'Address_1 Centurion Ct',
 'Address_1 Chadree Ct',
 'Address_1 Chatsworth Rd',
 'Address_1 Chaucer Cr',
 'Address_1 Chelsey St',
 'Address_1 Chester Cl',
 'Address_1 Chisholm St',
 'Address_1 Christie St',
 'Address_1 Clements Av',
 'Address_1 Closeburn Av',
 'Address_1 Coleman Cr',
 'Address_1 College St',
 'Address_1 Consort Pl',
 'Address_1 Cowes Pl',
 'Address_1 Crawford Rd',
 'Address_1 Culloden St',
 'Address_1 Culwell Av',
 'Address_1 Curzon St',
 'Address_1 Cuthbert St',
 'Address_1 Daisy St',
 'Address_1 Davis Av',
 'Address_1 Davison St',
 'Address_1 Delaware St',
 'Address_1 Delmont St',
 'Address_1 Denman St',
 'Address_1 Dewrang St',
 'Address_1 Diana Dr',
 'Address_1 Don St',
 'Address_1 Donal St',
 'Address_1 Dongola Rd',
 'Address_1 Dorothy St',
 'Address_1 Dorset Rd',
 'Address_1 Dorset St',
 'Address_1 Dromana St',
 'Address_1 Dudley St',
 'Address_1 Dundee Ct',
 'Address_1 Dunlavin Rd',
 'Address_1 Durkin St',
 'Address_1 East St',
 'Address_1 Ebony Pde',
 'Address_1 Egginton St',
 'Address_1 Elder St',
 'Address_1 Ellsworth Cr',
 'Address_1 Elphin St',
 'Address_1 Emslie St',
 'Address_1 Estella St',
 'Address_1 First Av',
 'Address_1 Fletcher La',
 'Address_1 Flinders St',
 'Address_1 Ford Av',
 'Address_1 Fraser St',
 'Address_1 Frogmore Rd',
 'Address_1 Fuller St',
 'Address_1 George St',
 'Address_1 Gilda St',
 'Address_1 Giuliano Ct',
 'Address_1 Gladesville Dr',
 'Address_1 Glenn Ct',
 'Address_1 Goodenough Ct',
 'Address_1 Gordon Ct',
 'Address_1 Gowanbrae Dr',
 'Address_1 Graeme Cl',
 'Address_1 Granville St',
 'Address_1 Griffiths St',
 'Address_1 Grimwade St',
 'Address_1 Grosvenor Ct',
 'Address_1 Grosvenor Pde',
 'Address_1 Grout St',
 'Address_1 Hanby St',
 'Address_1 Harley Ct',
 'Address_1 Harmer St',
 'Address_1 Harris St',
 'Address_1 Hartlands Rd',
 'Address_1 Hazel Gr',
 'Address_1 Heape Wy',
 'Address_1 Heather St',
 'Address_1 Heysen Dr',
 'Address_1 Highgate St',
 'Address_1 Hillcrest Rd',
 'Address_1 Hillside Rd',
 'Address_1 Hinkler St',
 'Address_1 Hodgson Tce',
 'Address_1 Hornby St',
 'Address_1 Hosken St',
 'Address_1 Hotchkiss Wy',
 'Address_1 Hovell St',
 'Address_1 Howell St',
 'Address_1 Howitt Cr',
 'Address_1 Howson Ct',
 'Address_1 Hume St',
 'Address_1 Imaroo St',
 'Address_1 Irving Rd',
 'Address_1 Ivison Wy',
 'Address_1 Jacaranda St',
 'Address_1 James St',
 'Address_1 Jassa St',
 'Address_1 Joan St',
 'Address_1 John St',
 'Address_1 Jordan St',
 'Address_1 Kangaroo Rd',
 'Address_1 Kent Rd',
 'Address_1 Kingswood Av',
 'Address_1 Knutsford St',
 'Address_1 Konrad St',
 'Address_1 Laird St',
 'Address_1 Larool Cr',
 'Address_1 Latrose St',
 'Address_1 Laverton St',
 'Address_1 Lebanon St',
 'Address_1 Leonie Ct',
 'Address_1 Lincoln Wy',
 'Address_1 Llewellyn Ct',
 'Address_1 Loxton Wy',
 'Address_1 MacMeikan St',
 'Address_1 Maitland St',
 'Address_1 Maple St',
 'Address_1 Marchant Av',
 'Address_1 Marina St',
 'Address_1 Marion Av',
 'Address_1 Markstone Ct',
 'Address_1 Marne St',
 'Address_1 Marner Av',
 'Address_1 Marriage Rd',
 'Address_1 McBride Rd',
 'Address_1 McCarron Pde',
 'Address_1 McDonnell Rd',
 'Address_1 McLean St',
 'Address_1 Meadowbank St',
 'Address_1 Meagher St',
 'Address_1 Meldrum St',
 'Address_1 Melissa St',
 'Address_1 Melva St',
 'Address_1 Mendip Rd',
 'Address_1 Menzies St',
 'Address_1 Metherall St',
 'Address_1 Mikado St',
 'Address_1 Moama St',
 'Address_1 Montana St',
 'Address_1 Monteith St',
 'Address_1 Monterey Bvd',
 'Address_1 Morris St',
 'Address_1 Moubray St',
 'Address_1 Myross Av',
 'Address_1 Nairn Av',
 'Address_1 Nayook La',
 'Address_1 Nebel St',
 'Address_1 Neimur Av',
 'Address_1 Newlands Ct',
 'Address_1 Newry St',
 'Address_1 Nicholas Ct',
 'Address_1 Nisbett St',
 'Address_1 Normanby Ct',
 'Address_1 Nunan St',
 'Address_1 Oak St',
 'Address_1 Ord Ct',
 'Address_1 Otford Cl',
 'Address_1 Oxford Dr',
 'Address_1 Page St',
 'Address_1 Papua St',
 'Address_1 Park Dr',
 'Address_1 Parker Rd',
 'Address_1 Pascoe Av',
 'Address_1 Pell St',
 'Address_1 Plante Ct',
 'Address_1 Princes Pl',
 'Address_1 Prowse Av',
 'Address_1 Quartz Gr',
 'Address_1 Quinn St',
 'Address_1 Reilly Pl',
 'Address_1 Rhonda Ct',
 'Address_1 Rigby Mw',
 'Address_1 River St',
 'Address_1 Riverpark Dr',
 'Address_1 Robert St',
 'Address_1 Robinson St',
 'Address_1 Rocke St',
 'Address_1 Rogers St',
 'Address_1 Rosedale Rd',
 'Address_1 Ross St',
 'Address_1 Rotorua St',
 'Address_1 Ruby La',
 'Address_1 Saddlers Ct',
 'Address_1 Sartori St',
 'Address_1 Sassella St',
 'Address_1 Saville Ct',
 'Address_1 Scarborough Pl',
 'Address_1 Scott St',
 'Address_1 Seaholme Av',
 'Address_1 Sentinel Wy',
 'Address_1 Shaftsbury St',
 'Address_1 Shelley St',
 'Address_1 Sheppard Ct',
 'Address_1 Shiers St',
 'Address_1 Silverwood Dr',
 'Address_1 Simon Ct',
 'Address_1 Sinclair Grn',
 'Address_1 Sneddon Ct',
 'Address_1 Stanlake St',
 'Address_1 Stuart St',
 'Address_1 Sunnyside Av',
 'Address_1 Sutherland Ct',
 'Address_1 Sutherland St',
 'Address_1 Swallow La',
 'Address_1 Tamar Dr',
 'Address_1 Templewood Cr',
 'Address_1 The Esplanade',
 'Address_1 The Righi',
 'Address_1 Therese Av',
 'Address_1 Tidcombe Cr',
 'Address_1 Torring Rd',
 'Address_1 Tovey St',
 'Address_1 Trafalgar Rd',
 'Address_1 Tudor St',
 'Address_1 Tweed St',
 'Address_1 Tynan St',
 'Address_1 Victoria St',
 'Address_1 Victory St',
 'Address_1 Villers Sq',
 'Address_1 Virginia St',
 'Address_1 Walker Pl',
 'Address_1 Walter St',
 'Address_1 Waltham Pl',
 'Address_1 Walwa Pl',
 'Address_1 Watsons Wk',
 'Address_1 Webb St',
 'Address_1 Weston St',
 'Address_1 Whitty La',
 'Address_1 Wildoer Dr',
 'Address_1 Wilgra Av',
 'Address_1 Wilkinson Cr',
 'Address_1 Wilks Av',
 'Address_1 Wills Av',
 'Address_1 millgrove St',
 'Address_1/1 Amis Cr',
 'Address_1/1 Cherryhinton St',
 'Address_1/1 Clarendon St',
 'Address_1/1 Clifton Rd',
 'Address_1/1 Danae St',
 'Address_1/1 Dundee Av',
 'Address_1/1 Ellis St',
 'Address_1/1 Franklin St',
 'Address_1/1 Gambier Av',
 'Address_1/1 Glen Iris Rd',
 'Address_1/1 Gregory St',
 'Address_1/1 Hadkinson St',
 'Address_1/1 Leamington St',
 'Address_1/1 Lockley St',
 'Address_1/1 Lorna Av',
 'Address_1/1 Margot St',
 'Address_1/1 Marshall Pl',
 'Address_1/1 Nairn St',
 'Address_1/1 Nangana Rd',
 'Address_1/1 Paul St',
 'Address_1/1 Perry St',
 'Address_1/1 Peterson St',
 'Address_1/1 Prince Edward Av',
 'Address_1/1 Ramu Gr',
 'Address_1/1 Royal Cr',
 'Address_1/1 Thomson St',
 'Address_1/1 Thornton Av',
 'Address_1/1 Warland Rd',
 'Address_1/10 Callander Rd',
 'Address_1/10 Duckham St',
 'Address_1/10 Florence Rd',
 'Address_1/10 Fremont Pde',
 'Address_1/10 Gillard St',
 'Address_1/10 Kangerong Rd',
 'Address_1/10 Lesley St',
 'Address_1/10 Linden St',
 'Address_1/10 Loeman St',
 'Address_1/10 Madeleine St',
 'Address_1/10 Manor St',
 'Address_1/10 McComas Gr',
 'Address_1/10 Morrison Cr',
 'Address_1/10 Morton St',
 'Address_1/10 Newman Av',
 'Address_1/10 Norma St',
 'Address_1/10 Oriel Rd',
 'Address_1/10 Owen St',
 'Address_1/10 Reno Rd',
 'Address_1/10 Schofield St',
 'Address_1/10 Scotia St',
 'Address_1/10 Wanalta Rd',
 'Address_1/10 Wilton Gr',
 'Address_1/10 Winifred St',
 'Address_1/100 Balwyn Rd',
 'Address_1/100 Rowena Pde',
 'Address_1/100 St Elmo Rd',
 'Address_1/101 Essex St',
 'Address_1/1017 Nepean Hwy',
 'Address_1/103 Bruce St',
 'Address_1/104 Cheddar Rd',
 'Address_1/105 Cochrane St',
 'Address_1/107 Warrigal Rd',
 'Address_1/108 Surrey Rd',
 'Address_1/108 Truganini Rd',
 'Address_1/109 Arden St',
 'Address_1/109 Roslyn St',
 'Address_1/109 Station St',
 'Address_1/1091 Burke Rd',
 'Address_1/11 Baird St',
 'Address_1/11 Brockley Rd',
 'Address_1/11 Glencairn St',
 'Address_1/11 Glengala Rd',
 'Address_1/11 Goulburn St',
 'Address_1/11 Graham Ct',
 'Address_1/11 Hiscock St',
 'Address_1/11 Kinnane Cr',
 'Address_1/11 Maxwell St',
 'Address_1/11 Mayfield Av',
 'Address_1/11 Millward St',
 'Address_1/11 Mount St',
 'Address_1/11 New St',
 'Address_1/11 Pentlowe Av',
 'Address_1/11 Rosstown Rd',
 'Address_1/11 Rowland St',
 'Address_1/11 Setani Cr',
 'Address_1/11 Talbot St',
 'Address_1/110 Railway Pl',
 'Address_1/111 Nepean St',
 'Address_1/1110 Glen Huntly Rd',
 'Address_1/112 Cardinal Rd',
 'Address_1/112 Roslyn St',
 'Address_1/112 Tambet St',
 'Address_1/115 Harding St',
 'Address_1/116 Edinburgh St',
 'Address_1/118 Rathcown Rd',
 'Address_1/118 Woods St',
 'Address_1/119 Melrose Dr',
 'Address_1/119 Roslyn St',
 'Address_1/119 Willow Bnd',
 'Address_1/12 Brooks St',
 'Address_1/12 Burrows St',
 'Address_1/12 Cartwright St',
 'Address_1/12 Charles St',
 'Address_1/12 Clarendon St',
 'Address_1/12 Grenville St',
 'Address_1/12 Hatfield Ct',
 'Address_1/12 Hotham St',
 'Address_1/12 Hull St',
 'Address_1/12 Jillian Av',
 'Address_1/12 Kokaribb Rd',
 'Address_1/12 Laburnum St',
 'Address_1/12 Laurence Av',
 'Address_1/12 Maude Av',
 'Address_1/12 Merino St',
 'Address_1/12 Oswin St',
 'Address_1/12 Pascoe St',
 'Address_1/12 Prout La',
 'Address_1/12 Rodney St',
 'Address_1/12 Thoresby Gr',
 'Address_1/120 Ford St',
 'Address_1/1203 Burke Rd',
 'Address_1/1203 Heatherton Rd',
 'Address_1/121 Anderson Rd',
 'Address_1/121 Brighton Rd',
 'Address_1/121 Thomas St',
 'Address_1/123 Blyth St',
 'Address_1/123 Liberty Pde',
 'Address_1/124 Cuthbert St',
 'Address_1/125 Glen Huntly Rd',
 'Address_1/125 Riversdale Rd',
 'Address_1/125 Walpole St',
 'Address_1/126 Atherton Rd',
 'Address_1/126 St Vigeons Rd',
 'Address_1/127 Glen Huntly Rd',
 'Address_1/128 Dundas St',
 'Address_1/128 St Vigeons Rd',
 'Address_1/129 Calder Hwy',
 'Address_1/129 The Parade',
 'Address_1/13 Baratta St',
 'Address_1/13 Beach Av',
 'Address_1/13 Belmont Av',
 'Address_1/13 Cartwright St',
 'Address_1/13 Edna St',
 'Address_1/13 Essex St',
 'Address_1/13 Goode St',
 'Address_1/13 Holloway St',
 'Address_1/13 Johnston St',
 'Address_1/13 Kellett St',
 'Address_1/13 Ludbrook Av',
 'Address_1/13 Maidstone St',
 'Address_1/13 Mansfield St',
 'Address_1/13 Muir St',
 'Address_1/13 Narong Rd',
 'Address_1/13 Spring St',
 'Address_1/13 Stonehaven Cr',
 'Address_1/13 Swindon Rd',
 'Address_1/13 Winifred St',
 'Address_1/130 Windsor Cr',
 'Address_1/131 Balcombe Rd',
 'Address_1/132 Pascoe Vale Rd',
 'Address_1/1326 Main Rd',
 'Address_1/134 Mitchell St',
 'Address_1/135 Brunswick Rd',
 'Address_1/136 Dendy St',
 'Address_1/136 High Street Rd',
 'Address_1/136 Hoffmans Rd',
 'Address_1/136 Queen St',
 'Address_1/136 St Georges Rd',
 'Address_1/136 Wright St',
 'Address_1/136 Yarrbat Av',
 'Address_1/137 Cole St',
 'Address_1/139 Roberts St',
 'Address_1/139 Waverley Rd',
 'Address_1/14 Alexander St',
 'Address_1/14 Antwerp St',
 'Address_1/14 Arthur St',
 'Address_1/14 Barkly St',
 'Address_1/14 Clements St',
 'Address_1/14 Corrigan St',
 'Address_1/14 Denbigh Rd',
 'Address_1/14 Durward Rd',
 'Address_1/14 Edgar St',
 'Address_1/14 Forrester St',
 'Address_1/14 Fulham Rd',
 'Address_1/14 Hislop St',
 'Address_1/14 Jade Wy',
 'Address_1/14 Ludeman Ct',
 'Address_1/14 Newton St',
 'Address_1/14 Paxton St',
 'Address_1/14 Preston St',
 'Address_1/14 Rawson Av',
 'Address_1/14 Stable Dr',
 'Address_1/14 The Avenue',
 'Address_1/14 Utah Rd',
 'Address_1/14 Wendora St',
 'Address_1/141 Anderson Rd',
 'Address_1/141 South Rd',
 'Address_1/142 Derby St',
 'Address_1/142 Shields St',
 'Address_1/143 Bradshaw St',
 'Address_1/143 Melbourne Av',
 'Address_1/1438 Dandenong Rd',
 'Address_1/145 Edgevale Rd',
 'Address_1/145 Mason St',
 'Address_1/145 Parer Rd',
 'Address_1/145 Prospect Hill Rd',
 'Address_1/146 Ascot Vale Rd',
 'Address_1/146 Glen Iris Rd',
 'Address_1/147 Purinuan Rd',
 'Address_1/1478 Dandenong Rd',
 'Address_1/1484 Malvern Rd',
 'Address_1/15 Acacia St',
 'Address_1/15 Alexandra Av',
 'Address_1/15 Allen St',
 'Address_1/15 Belmont Av',
 'Address_1/15 Cassels Rd',
 'Address_1/15 Chenies St',
 'Address_1/15 Cross Rd',
 'Address_1/15 Dartford St',
 'Address_1/15 Delaware St',
 'Address_1/15 Estelle St',
 'Address_1/15 Flemington St',
 'Address_1/15 Geelong Rd',
 'Address_1/15 Gilbertson St',
 'Address_1/15 Mayona Rd',
 'Address_1/15 Murray Rd',
 'Address_1/15 Osway St',
 'Address_1/15 Reserve Rd',
 'Address_1/15 Ross St',
 'Address_1/15 Rosstown Rd',
 'Address_1/15 Scott Gr',
 'Address_1/150 Peel St',
 'Address_1/152 Blyth St',
 'Address_1/152 Greenhills Rd',
 'Address_1/1529 Malvern Rd',
 'Address_1/155 Deakin St',
 'Address_1/155 Fitzroy St',
 'Address_1/155 Hickford St',
 'Address_1/156 Bay St',
 'Address_1/156 Chambers Rd',
 'Address_1/157 Atherton Rd',
 'Address_1/159 Cheddar Rd',
 'Address_1/159 Melbourne Av',
 'Address_1/16 Barrie Ct',
 'Address_1/16 Black St',
 'Address_1/16 Brady Rd',
 'Address_1/16 Cape St',
 'Address_1/16 Capulet St',
 'Address_1/16 Carrathool St',
 'Address_1/16 Dower St',
 'Address_1/16 Elm St',
 'Address_1/16 Finlayson St',
 'Address_1/16 Franklyn St',
 'Address_1/16 Grevillia Rd',
 'Address_1/16 Lambourn Rd',
 'Address_1/16 Leake St',
 'Address_1/16 Mawbey St',
 'Address_1/16 Miller St',
 'Address_1/16 Mons Pde',
 'Address_1/16 Morton Rd',
 'Address_1/16 Osborne Av',
 'Address_1/16 Raymond St',
 'Address_1/16 Waverley Av',
 'Address_1/16 Willis St',
 'Address_1/160 Carlisle St',
 'Address_1/162 Stockmans Wy',
 'Address_1/164 Barkers Rd',
 'Address_1/164 Cornwall Rd',
 'Address_1/164 Leamington St',
 'Address_1/164 Nicholson St',
 'Address_1/165 Boundary Rd',
 'Address_1/165 Mitchell St',
 'Address_1/166 Mitchell St',
 'Address_1/168 Beach Rd',
 'Address_1/169 Lower Heidelberg Rd',
 'Address_1/17 Albert Cr',
 'Address_1/17 Albion St',
 'Address_1/17 Ashburn Gr',
 'Address_1/17 Auburn Gr',
 'Address_1/17 Baker St',
 'Address_1/17 Chatham Rd',
 'Address_1/17 Claudel St',
 'Address_1/17 Cosy Gum Rd',
 'Address_1/17 Epsom Rd',
 'Address_1/17 French St',
 'Address_1/17 Gordon Pde',
 'Address_1/17 Howitt Dr',
 'Address_1/17 Keiller St',
 'Address_1/17 Marigold Av',
 'Address_1/17 Milne St',
 'Address_1/17 Moorookyle Av',
 'Address_1/17 Oakwood Av',
 'Address_1/17 Park Av',
 'Address_1/17 Rex Av',
 'Address_1/17 Tennyson St',
 'Address_1/17 Tranmere Av',
 'Address_1/170 Albion St',
 'Address_1/170 Barkly St',
 'Address_1/170 Blyth St',
 'Address_1/171 Church St',
 'Address_1/171 Melrose Dr',
 'Address_1/171 Waiora Rd',
 'Address_1/173 Edwardes St',
 'Address_1/173 Glen Huntly Rd',
 'Address_1/173 Kilby Rd',
 'Address_1/177 Brougham St',
 'Address_1/177 Oakleigh Rd',
 'Address_1/178 Murrumbeena Rd',
 'Address_1/18 Balmoral St',
 'Address_1/18 Belmore Rd',
 'Address_1/18 Cape St',
 'Address_1/18 Carmichael St',
 'Address_1/18 Doysal Av',
 'Address_1/18 Duffy St',
 'Address_1/18 Hartington St',
 'Address_1/18 Howard St',
 'Address_1/18 Kennedy St',
 'Address_1/18 Lambourn Rd',
 'Address_1/18 Leafield St',
 'Address_1/18 Magnolia Rd',
 'Address_1/18 May Park Av',
 'Address_1/18 Peace St',
 'Address_1/18 Raymond St',
 'Address_1/18 Sylvan Gr',
 'Address_1/18 Weir St',
 'Address_1/18 William St',
 'Address_1/180 Queens Pde',
 'Address_1/182 Albion St',
 'Address_1/183 Kooyong Rd',
 'Address_1/184 Barkly St',
 'Address_1/185 Auburn Rd',
 'Address_1/185 Moreland Rd',
 'Address_1/186 Power Av',
 'Address_1/187 George St',
 'Address_1/19 Albert St',
 'Address_1/19 Berembong Dr',
 'Address_1/19 Binalong Av',
 'Address_1/19 Cameron Rd',
 'Address_1/19 Dermot St',
 'Address_1/19 Glen Park Rd',
 'Address_1/19 Hopetoun Av',
 'Address_1/19 Lytton St',
 'Address_1/19 Main St',
 'Address_1/19 Manallack St',
 'Address_1/19 Montague St',
 'Address_1/19 Patterson Rd',
 'Address_1/19 Robe St',
 'Address_1/19 Trevascus St',
 'Address_1/19 Wallace Av',
 'Address_1/19 Warrina St',
 'Address_1/191 New St',
 'Address_1/194 Hyde St',
 'Address_1/2 Academy Av',
 'Address_1/2 Armadale St',
 'Address_1/2 Banchory St',
 'Address_1/2 Barry St',
 'Address_1/2 Chapel Mw',
 'Address_1/2 Condah Ct',
 'Address_1/2 Constance St',
 'Address_1/2 Cooke Av',
 'Address_1/2 Dakara Cl',
 'Address_1/2 Drummond St',
 'Address_1/2 Dubbo St',
 'Address_1/2 Edmonds Av',
 'Address_1/2 Ellesmere Rd',
 'Address_1/2 Flowerdale Rd',
 'Address_1/2 Griffiths St',
 'Address_1/2 Gwynne St',
 'Address_1/2 Kitchener St',
 'Address_1/2 Lanark Wy',
 'Address_1/2 Little Kent St',
 'Address_1/2 Mary St',
 'Address_1/2 Pershing St',
 'Address_1/2 Prospect St',
 'Address_1/2 Robinson St',
 'Address_1/2 Roland Av',
 'Address_1/20 Castley Cr',
 'Address_1/20 Church St',
 'Address_1/20 College St',
 'Address_1/20 Downshire Rd',
 'Address_1/20 Erskine Av',
 'Address_1/20 Kensington Pl',
 'Address_1/20 Kumala Rd',
 'Address_1/20 Laurel St',
 'Address_1/20 Mulga St',
 'Address_1/20 Neville St',
 'Address_1/20 Newsom St',
 'Address_1/203 Brighton Rd',
 'Address_1/203 Collins St',
 'Address_1/203 Station St',
 'Address_1/204 Brougham St',
 'Address_1/205 Grange Rd',
 'Address_1/207 Manningham Rd',
 'Address_1/208 Albion St',
 'Address_1/208 Wattle Valley Rd',
 'Address_1/209 Purinuan Rd',
 'Address_1/21 Auburn Gr',
 'Address_1/21 Brickwood St',
 'Address_1/21 Bruce St',
 'Address_1/21 Crookston Rd',
 'Address_1/21 Dumbarton St',
 'Address_1/21 Freemans Rd',
 'Address_1/21 Herbert St',
 'Address_1/21 Holmes Rd',
 'Address_1/21 Jones St',
 'Address_1/21 Kayden St',
 'Address_1/21 Nola St',
 'Address_1/21 Queen St',
 'Address_1/21 Somerset Rd',
 'Address_1/21 The Fairway',
 'Address_1/21 Waratah St',
 'Address_1/21 Wattle Av',
 'Address_1/21 Wharton St',
 'Address_1/210 Childs Rd',
 'Address_1/211 Murrumbeena Rd',
 'Address_1/214 Princess St',
 'Address_1/215 Williams Rd',
 'Address_1/217 West St',
 'Address_1/217 Woods St',
 'Address_1/219 Raleigh St',
 'Address_1/22 Archibald St',
 'Address_1/22 Brooks St',
 'Address_1/22 Gerald St',
 'Address_1/22 Harrington St',
 'Address_1/22 Henderson Rd',
 'Address_1/22 Joffre Rd',
 'Address_1/22 Kitchener Rd',
 'Address_1/22 Lex Gr',
 'Address_1/22 Myrtle St',
 'Address_1/22 Nonna St',
 'Address_1/22 Prospect St',
 'Address_1/22 Rathmines St',
 'Address_1/22 Royal Av',
 'Address_1/22 Stapley Cr',
 'Address_1/22 Sycamore Gr',
 'Address_1/22 Turner Cl',
 'Address_1/22 Vigo St',
 'Address_1/22 Volga St',
 'Address_1/22 Wallace Cr',
 'Address_1/22 Wentworth Av',
 'Address_1/221 Westgarth St',
 'Address_1/23 Aintree Rd',
 'Address_1/23 Argo St',
 'Address_1/23 Bena St',
 'Address_1/23 Bondi Rd',
 'Address_1/23 Charming St',
 'Address_1/23 Dalgety St',
 'Address_1/23 Eildon Rd',
 'Address_1/23 Genoa St',
 'Address_1/23 George St',
 'Address_1/23 Glen St',
 'Address_1/23 Gordon Ct',
 'Address_1/23 Hawthorn Gr',
 'Address_1/23 Laha Cr',
 'Address_1/23 Rosella St',
 'Address_1/23 Ruthven St',
 'Address_1/23 Stewart St',
 'Address_1/23 Wickham Rd',
 'Address_1/23 Windella Av',
 'Address_1/23 Yertchuk Av',
 'Address_1/233 Huntingdale Rd',

In [113]:
print(melb_predictors.shape)
print(one_hot_encoded_training_predictors.shape)

(18396, 21)
(18396, 18889)

In [122]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor

def get_mae(X, y):
    return -1 * cross_val_score(RandomForestRegressor(50), X, y, 
                                scoring='neg_mean_absolute_error').mean()

predictors_without_categoricals = melb_predictors.select_dtypes(exclude=['object'])
predictors_without_categoricals.head()

,Unnamed: 0,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
0,1,2,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,-37.7996,144.9984,4019.0
1,2,2,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,-37.8079,144.9934,4019.0
2,4,3,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,-37.8093,144.9944,4019.0
3,5,3,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,-37.7969,144.9969,4019.0
4,6,4,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,-37.8072,144.9941,4019.0

In [126]:
from sklearn.preprocessing import Imputer
my_imputer = Imputer()
data_with_imputed_values = my_imputer.fit_transform(melb_numeric_preditors)
one_hot_encoded_training_predictors_imputed_values = my_imputer.fit_transform(one_hot_encoded_training_predictors)

mae_without_categoricals = get_mae(data_with_imputed_values, melb_target)
mae_one_hot_encoded = get_mae(one_hot_encoded_training_predictors_imputed_values, melb_target)

print(mae_without_categoricals, mae_one_hot_encoded)

215806.862706 191496.118376