In [1]:
import pandas as pd
# save filepath to variable for easier access
melbourne_file_path = '../input/train.csv'
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path) 
# print a summary of the data in Melbourne data
print(melbourne_data.describe())

                Id   MSSubClass  LotFrontage        LotArea  OverallQual  \
count  1460.000000  1460.000000  1201.000000    1460.000000  1460.000000
mean    730.500000    56.897260    70.049958   10516.828082     6.099315
std     421.610009    42.300571    24.284752    9981.264932     1.382997
min       1.000000    20.000000    21.000000    1300.000000     1.000000
25%     365.750000    20.000000    59.000000    7553.500000     5.000000
50%     730.500000    50.000000    69.000000    9478.500000     6.000000
75%    1095.250000    70.000000    80.000000   11601.500000     7.000000
max    1460.000000   190.000000   313.000000  215245.000000    10.000000

       OverallCond    YearBuilt  YearRemodAdd   MasVnrArea   BsmtFinSF1  \
count  1460.000000  1460.000000   1460.000000  1452.000000  1460.000000
mean      5.575342  1971.267808   1984.865753   103.685262   443.639726
std       1.112799    30.202904     20.645407   181.066207   456.098091
min       1.000000  1872.000000   1950.000000     0.000000     0.000000
25%       5.000000  1954.000000   1967.000000     0.000000     0.000000
50%       5.000000  1973.000000   1994.000000     0.000000   383.500000
75%       6.000000  2000.000000   2004.000000   166.000000   712.250000
max       9.000000  2010.000000   2010.000000  1600.000000  5644.000000

           ...         WoodDeckSF  OpenPorchSF  EnclosedPorch    3SsnPorch  \
count      ...        1460.000000  1460.000000    1460.000000  1460.000000
mean       ...          94.244521    46.660274      21.954110     3.409589
std        ...         125.338794    66.256028      61.119149    29.317331
min        ...           0.000000     0.000000       0.000000     0.000000
25%        ...           0.000000     0.000000       0.000000     0.000000
50%        ...           0.000000    25.000000       0.000000     0.000000
75%        ...         168.000000    68.000000       0.000000     0.000000
max        ...         857.000000   547.000000     552.000000   508.000000

       ScreenPorch     PoolArea       MiscVal       MoSold       YrSold  \
count  1460.000000  1460.000000   1460.000000  1460.000000  1460.000000
mean     15.060959     2.758904     43.489041     6.321918  2007.815753
std      55.757415    40.177307    496.123024     2.703626     1.328095
min       0.000000     0.000000      0.000000     1.000000  2006.000000
25%       0.000000     0.000000      0.000000     5.000000  2007.000000
50%       0.000000     0.000000      0.000000     6.000000  2008.000000
75%       0.000000     0.000000      0.000000     8.000000  2009.000000
max     480.000000   738.000000  15500.000000    12.000000  2010.000000

           SalePrice
count    1460.000000
mean   180921.195890
std     79442.502883
min     34900.000000
25%    129975.000000
50%    163000.000000
75%    214000.000000
max    755000.000000

[8 rows x 38 columns]

In [2]:
print(melbourne_data.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [3]:
melbourne_price_data = melbourne_data.SalePrice
print(melbourne_price_data.head())

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [4]:
columns_of_interest = ['MSSubClass', 'LotFrontage']
two_columns_of_data = melbourne_data[columns_of_interest]
two_columns_of_data.describe()

        MSSubClass  LotFrontage
count  1460.000000  1201.000000
mean     56.897260    70.049958
std      42.300571    24.284752
min      20.000000    21.000000
25%      20.000000    59.000000
50%      50.000000    69.000000
75%      70.000000    80.000000
max     190.000000   313.000000

In [5]:
two_columns_of_data.head()

   MSSubClass  LotFrontage
0          60         65.0
1          20         80.0
2          60         68.0
3          70         60.0
4          60         84.0

In [6]:
y = melbourne_data.SalePrice
melbourne_predictors = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath',
                        'BedroomAbvGr', 'TotRmsAbvGrd']
X = melbourne_data[melbourne_predictors]
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [7]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [8]:
from sklearn.tree import DecisionTreeRegressor

my_model  = DecisionTreeRegressor()
my_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [9]:
print(X.head())
print(my_model.predict(X.head()))
print(y.head())

   LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
0     8450       2003       856       854         2             3
1     9600       1976      1262         0         2             3
2    11250       2001       920       866         2             3
3     9550       1915       961       756         1             3
4    14260       2000      1145      1053         2             4

   TotRmsAbvGrd
0             8
1             6
2             6
3             7
4             9
[ 208500.  181500.  223500.  140000.  250000.]
0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [10]:
from sklearn.metrics import mean_absolute_error

predicted_home_prices = my_model.predict(X)

mean_absolute_error(y, predicted_home_prices)

62.354337899543388

In [11]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)
print(train_X.describe())
print(val_X.describe())

my_model.fit(train_X, train_y)
val_predictions = my_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

             LotArea    YearBuilt     1stFlrSF     2ndFlrSF     FullBath  \
count    1095.000000  1095.000000  1095.000000  1095.000000  1095.000000
mean    10554.273973  1971.006393  1160.987215   353.672146     1.568950
std     10059.063819    30.205435   376.123212   440.156231     0.546339
min      1300.000000  1872.000000   334.000000     0.000000     0.000000
25%      7734.000000  1954.000000   883.000000     0.000000     1.000000
50%      9531.000000  1972.000000  1092.000000     0.000000     2.000000
75%     11592.000000  2000.000000  1386.000000   729.500000     2.000000
max    215245.000000  2010.000000  3228.000000  1872.000000     3.000000

       BedroomAbvGr  TotRmsAbvGrd
count   1095.000000   1095.000000
mean       2.891324      6.553425
std        0.804505      1.629432
min        0.000000      2.000000
25%        2.000000      5.000000
50%        3.000000      6.000000
75%        3.000000      7.000000
max        8.000000     14.000000
             LotArea    YearBuilt     1stFlrSF     2ndFlrSF    FullBath  \
count     365.000000   365.000000   365.000000   365.000000  365.000000
mean    10404.490411  1972.052055  1167.545205   326.953425    1.553425
std      9756.872531    30.223163   416.912930   425.423229    0.565025
min      1477.000000  1882.000000   483.000000     0.000000    0.000000
25%      7200.000000  1954.000000   874.000000     0.000000    1.000000
50%      9187.000000  1974.000000  1073.000000     0.000000    2.000000
75%     11664.000000  2001.000000  1402.000000   720.000000    2.000000
max    159000.000000  2009.000000  4692.000000  2065.000000    3.000000

       BedroomAbvGr  TotRmsAbvGrd
count    365.000000    365.000000
mean       2.791781      6.410959
std        0.845439      1.610709
min        0.000000      3.000000
25%        2.000000      5.000000
50%        3.000000      6.000000
75%        3.000000      7.000000
max        6.000000     12.000000
33302.8958904

In [12]:
def get_mae(max_leaf_nodes, predictors_train, predictors_val, targ_train, targ_val):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(predictors_train, targ_train)
    preds_val = model.predict(predictors_val)
    mae = mean_absolute_error(targ_val, preds_val)
    return(mae)

In [13]:
for max_leaf_node in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_node, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_node, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  35190
Max leaf nodes: 50  		 Mean Absolute Error:  27825
Max leaf nodes: 500  		 Mean Absolute Error:  32662
Max leaf nodes: 5000  		 Mean Absolute Error:  33382

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor()
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

23371.8667058