https://www.kaggle.com/dansbecker/pipelines/

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Imputer

my_pipline = make_pipeline(Imputer(), RandomForestRegressor())
my_pipline

Pipeline(memory=None,
     steps=[('imputer', Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)), ('randomforestregressor', RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_s...timators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False))])

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split

data = pd.read_csv('../input/melbourne-housing-snapshot/melb_data.csv')
data.dropna(axis=0, inplace=True)
y = data.Price
X = data.drop(['Price'], axis=1).select_dtypes(exclude=['object'])

train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.25)

In [14]:
train_X.head()

,Unnamed: 0,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
8309,10663,4,8.0,3016.0,3.0,2.0,2.0,782.0,212.0,1900.0,-37.86470,144.88670,6380.0
11849,15236,3,8.4,3072.0,3.0,1.0,1.0,263.0,123.0,2000.0,-37.74739,145.00934,14577.0
11185,14365,1,7.5,3040.0,1.0,1.0,1.0,0.0,47.0,1970.0,-37.75121,144.91326,9264.0
8481,10895,3,7.0,3013.0,3.0,1.0,4.0,902.0,129.0,1920.0,-37.81530,144.87960,6543.0
3285,4274,3,3.5,3068.0,3.0,3.0,1.0,188.0,129.0,2000.0,-37.78290,144.97880,6244.0

In [18]:
my_pipline.fit(train_X, train_y)
predictions = my_pipline.predict(test_X)
predictions

array([1329200.,  822750.,  921700., ...,  550200.,  657800., 1342300.])

In [19]:
# pipelineを勉強しよう