https://www.kaggle.com/dansbecker/data-leakage/notebook

# Data Leakage

In [2]:
import pandas as pd

data = pd.read_csv('../input/AER_credit_card_data.csv',
                  true_values=['yes'],
                  false_values=['no'])
data.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,True,0,37.66667,4.5200,0.033270,124.983300,True,False,3,54,1,12
1,True,0,33.25000,2.4200,0.005217,9.854167,False,False,3,34,1,13
2,True,0,33.66667,4.5000,0.004156,15.000000,True,False,4,58,1,5
3,True,0,30.50000,2.5400,0.065214,137.869200,False,False,0,25,1,7
4,True,0,32.16667,9.7867,0.067051,546.503300,True,False,2,64,1,5

In [3]:
data.shape

(1319, 12)

In [4]:
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

y = data.card
X = data.drop(['card'], axis=1)

modeling_pipeline = make_pipeline(RandomForestClassifier())
cv_scores = cross_val_score(modeling_pipeline, X, y, scoring='accuracy')
cv_scores.mean()

0.9795264720093878

In [5]:
['expenditure']

['expenditure']

In [9]:
expenditures_cardholders = data.expenditure[data.card]
expenditures_noncardholders = data.expenditure[~data.card]

print((expenditures_cardholders == 0).mean())
print((expenditures_noncardholders == 0).mean())

0.020527859237536656
1.0

In [10]:
potential_leaks = ['expenditure', 'share', 'active', 'majorcards']
X2 = X.drop(potential_leaks, axis=1)
cv_scores = cross_val_score(modeling_pipeline, X2, y, scoring='accuracy')
cv_scores.mean()

0.8157624076758473